Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Helper and test classes
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  tests/conftest.py
  tests/data/AnsysSound_Orders Pa v1_2024R2_20241203.txt
  tests/data/AnsysSound_Orders V2_2024R2_20241203.txt
  tests/data/AnsysSound_Orders dBSPL v1_10_rpm_values_40_orders_2024R2_20241203.txt
  tests/data/AnsysSound_Orders dBSPL v1_2024R2_20241203.txt
  tests/data/VRX_Waterfall_2024R2_20241203.xml
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: documentation, testing

Some doc details
  src/ansys/sound/core/sound_composer/source_harmonics.py
Labels: none

Some other doc details
  src/ansys/sound/core/sound_composer/source_harmonics.py
Labels: none

chore: adding changelog file 184.added.md [dependabot-skip]
  doc/changelog.d/184.added.md
Labels: none

doc clarification
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

maint: supporting Python 3.13 and dropping Python 3.9 support
  .github/workflows/ci_cd.yml
  pyproject.toml
Labels: maintenance

chore: adding changelog file 185.maintenance.md [dependabot-skip]
  doc/changelog.d/185.maintenance.md
Labels: none

chore: adding changelog file 185.maintenance.md [dependabot-skip]
  doc/changelog.d/185.maintenance.md
Labels: none

Fix bug that appeared following unexpected behavior change in how arrays are returned by PyDPF Core
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

fix precommit
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

Replicate the same str strategy as in SourceHarmonics, elision is done above 10 values instead of 30, and float values are rounded to the first decimal
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

Update global __init__.py
  src/ansys/sound/core/__init__.py
Labels: none

fixed operator IDs and supported files doc
  src/ansys/sound/core/sound_composer/source_harmonics.py
Labels: none

Typo in doc
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
Labels: none

Another doc typo
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
Labels: none

order elision from 10 instead of 30
  src/ansys/sound/core/sound_composer/source_harmonics.py
Labels: none

missing test update
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

another test fix
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

Fixed comments
  src/ansys/sound/core/sound_composer/source_harmonics.py
Labels: none

Helper and test classes, added to doc
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  tests/conftest.py
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL - InvertedContols_2024R2_20241205.txt
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL_2024R2_20241205.txt
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL_many_values_2024R2_20241205.txt
  tests/data/AnsysSound_Orders_MultipleParameters_FromAccelWithTacho_2024R2_20241205.txt
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: documentation, testing

chore: adding changelog file 186.added.md [dependabot-skip]
  doc/changelog.d/186.added.md
Labels: none

chore: supporting Python 3.13 and dropping support for Python 3.9 (#185)
  .github/workflows/ci_cd.yml
  doc/changelog.d/185.maintenance.md
  pyproject.toml
Labels: maintenance

Fixed "invertedControls" test file and updated tests accordingly, also change numeric tests to be more relevant (higher tested values)
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL - InvertedContols_2024R2_20241205.txt
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

minor comment fixes
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

replaced French rpm unit
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL - InvertedContols_2024R2_20241205.txt
Labels: none

French unit again
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL_2024R2_20241205.txt
Labels: none

French unit again
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL_many_values_2024R2_20241205.txt
Labels: none

chore: adding changelog file 187.added.md [dependabot-skip]
  doc/changelog.d/187.added.md
Labels: none

test: Added a comment and handled the particular case of the PSD file
  tests/conftest.py
  tests/tests_psychoacoustics/test_psychoacoustics_prominence_ratio.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio.py
Labels: testing

Filter class and test data
  src/ansys/sound/core/spectral_processing/__init__.py
  src/ansys/sound/core/spectral_processing/filter.py
  tests/data/AnsysSound_FRF_2024R2_20241206.txt
  tests/data/AnsysSound_FRF_bad_2024R2_20241206.txt
Labels: none

Fix comments + one test
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

added more technical info in error message
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

chore: adding changelog file 188.dependencies.md [dependabot-skip]
  doc/changelog.d/188.dependencies.md
Labels: none

chore: adding changelog file 189.dependencies.md [dependabot-skip]
  doc/changelog.d/189.dependencies.md
Labels: none

fixed parentheses in error message in tests
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

Various message fixes
  src/ansys/sound/core/sound_composer/source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

Replicated feedback from BBN 1 param (comments and error message)
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: none

Harmonize error message with 2 param case
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

Harmonized error message with bbn sources
  src/ansys/sound/core/sound_composer/source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

Harmonize error message
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
