Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

Adding changelog entry: 37.added.md
  doc/changelog.d/37.added.md
Labels: none

docs/final edits based on skimming lats HTML artifact
  README.rst
  doc/source/contribute.rst
  doc/source/getting_started.rst
  doc/source/index.rst
  doc/source/user_guide.rst
  examples/001_initialize_server_and_deal_with_license.py
  examples/002_load_resample_amplify_write_wav_files.py
  examples/003_compute_stft.py
  examples/005_xtract_feature.py
  examples/006_calculate_PR_and_TNR.py
  examples/007_calculate_psychoacoustic_indicators.py
  examples/README.rst
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_transient.py
Labels: documentation

Adding changelog entry: 54.miscellaneous.md
  doc/changelog.d/54.miscellaneous.md
Labels: none

Adding changelog entry: 54.miscellaneous.md
  doc/changelog.d/54.miscellaneous.md
Labels: none

Adding changelog entry: 54.miscellaneous.md
  doc/changelog.d/54.miscellaneous.md
Labels: none

docs: final edits based on skimming last HTML artifact (#54)
  README.rst
  doc/changelog.d/54.miscellaneous.md
  doc/source/contribute.rst
  doc/source/getting_started.rst
  doc/source/index.rst
  doc/source/user_guide.rst
  examples/001_initialize_server_and_deal_with_license.py
  examples/002_load_resample_amplify_write_wav_files.py
  examples/003_compute_stft.py
  examples/005_xtract_feature.py
  examples/006_calculate_PR_and_TNR.py
  examples/007_calculate_psychoacoustic_indicators.py
  examples/README.rst
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_transient.py
Labels: documentation

Adding changelog entry: 56.dependencies.md
  doc/changelog.d/56.dependencies.md
Labels: none

Adding changelog entry: 57.dependencies.md
  doc/changelog.d/57.dependencies.md
Labels: none

Adding changelog entry: 55.dependencies.md
  doc/changelog.d/55.dependencies.md
Labels: none

Adding changelog entry: 58.dependencies.md
  doc/changelog.d/58.dependencies.md
Labels: none

Adding changelog entry: 59.dependencies.md
  doc/changelog.d/59.dependencies.md
Labels: none

Creation of a new class PowerSpectralDensity with py's files dedicated.
  src/ansys/sound/core/power_spectral_density/__init__.py
  src/ansys/sound/core/power_spectral_density/_power_spectral_density_parent.py
  src/ansys/sound/core/power_spectral_density/power_spectral_density.py
Labels: none

Add tests for the class POwerSpectralDensity.
  tests/tests_power_spectral_density/test_power_spectral_density.py
Labels: none

Power Spectral Density with his test suite available.
  src/ansys/sound/core/power_spectral_density/__init__.py
  src/ansys/sound/core/power_spectral_density/_power_spectral_density_parent.py
  src/ansys/sound/core/power_spectral_density/power_spectral_density.py
  tests/tests_power_spectral_density/test_power_spectral_density.py
Labels: none

chore: adding changelog file 60.dependencies.md
  doc/changelog.d/60.dependencies.md
Labels: none

chore: adding changelog file 61.dependencies.md
  doc/changelog.d/61.dependencies.md
Labels: none

chore: adding changelog file 62.dependencies.md
  doc/changelog.d/62.dependencies.md
Labels: none

chore: adding changelog file 63.dependencies.md
  doc/changelog.d/63.dependencies.md
Labels: none

A package is renamed from power_spectral_density to spectral_processing in order to be consistent with the specifications. All classes are updated if needed.
  src/ansys/sound/core/spectral_processing/__init__.py
  src/ansys/sound/core/spectral_processing/_spectral_processing_parent.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  tests/tests_power_spectral_density/test_power_spectral_density.py
Labels: none

Add new methods and assoociated tests in the class PowerSpectralDensity
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  tests/tests_power_spectral_density/test_power_spectral_density.py
Labels: none

Update the plot.
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Update the test suite with correct values coming from the modification of the overlap in DPF Sound.
  tests/tests_power_spectral_density/test_power_spectral_density.py
Labels: none

Examples with PSD used to compute PR indicator.
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

Remove HANNING in a docstring in the file stft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
Labels: none

fix: pre-commit
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

chore: adding check-vulnerabilities-action (#37)
  .github/workflows/ci_cd.yml
  doc/changelog.d/37.added.md
  src/ansys/sound/core/examples_helpers/download.py
Labels: maintenance

fix: badge
  README.rst
Labels: none

fix: typo
  README.rst
Labels: none

fix: remove code-style stage
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 68.fixed.md
  doc/changelog.d/68.fixed.md
Labels: none

chore: adding changelog file 68.fixed.md
  doc/changelog.d/68.fixed.md
Labels: none

feat: add pre-commit.ci badge
  README.rst
Labels: none

chore: pre-release tasks (#68)
  .github/workflows/ci_cd.yml
  README.rst
  doc/changelog.d/68.fixed.md
Labels: maintenance

chore: adding changelog file 67.added.md
  doc/changelog.d/67.added.md
Labels: none

chore: bump version to `0.1.0`
  CONTRIBUTING.md
  README.rst
  pyproject.toml
Labels: maintenance

fix: version
  pyproject.toml
Labels: maintenance

fix: dependencies
  pyproject.toml
Labels: maintenance

chore: adding changelog file 69.fixed.md
  doc/changelog.d/69.fixed.md
Labels: none

fix: dependencies (#69)
  CONTRIBUTING.md
  README.rst
  doc/changelog.d/69.fixed.md
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.1.0
  CHANGELOG.md
  doc/changelog.d/37.added.md
  doc/changelog.d/39.added.md
  doc/changelog.d/40.dependencies.md
  doc/changelog.d/41.dependencies.md
  doc/changelog.d/42.dependencies.md
  doc/changelog.d/44.dependencies.md
  doc/changelog.d/45.changed.md
  doc/changelog.d/46.added.md
  doc/changelog.d/47.fixed.md
  doc/changelog.d/48.miscellaneous.md
  doc/changelog.d/49.miscellaneous.md
  doc/changelog.d/50.miscellaneous.md
  doc/changelog.d/52.fixed.md
  doc/changelog.d/53.miscellaneous.md
  doc/changelog.d/54.miscellaneous.md
  doc/changelog.d/55.dependencies.md
  doc/changelog.d/56.dependencies.md
  doc/changelog.d/57.dependencies.md
  doc/changelog.d/58.dependencies.md
  doc/changelog.d/59.dependencies.md
  doc/changelog.d/60.dependencies.md
  doc/changelog.d/61.dependencies.md
  doc/changelog.d/62.dependencies.md
  doc/changelog.d/63.dependencies.md
  doc/changelog.d/68.fixed.md
  doc/changelog.d/69.fixed.md
Labels: none
