Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

fix: avoid the usage of the "egg" concept (#227)
  doc/changelog.d/227.fixed.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 230.dependencies.md [dependabot-skip]
  doc/changelog.d/230.dependencies.md
Labels: none

chore: adding changelog file 229.dependencies.md [dependabot-skip]
  doc/changelog.d/229.dependencies.md
Labels: none

chore: adding changelog file 228.dependencies.md [dependabot-skip]
  doc/changelog.d/228.dependencies.md
Labels: none

Add requests package to project depencies
  pyproject.toml
Labels: maintenance

chore: adding changelog file 231.fixed.md [dependabot-skip]
  doc/changelog.d/231.fixed.md
Labels: none

Remove unusable calculation details from DIN45681's get_as_nparray
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
Labels: none

Fix unit of specific loudness and specific roughness
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/roughness.py
Labels: none

chore: adding changelog file 232.fixed.md [dependabot-skip]
  doc/changelog.d/232.fixed.md
Labels: none

Add power-of-2 requirement for PSD's FFT size in doc, and added corresponding check and test
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  tests/tests_spectral_processing/test_power_spectral_density.py
Labels: none

fix: Explicitly add requests package to project dependencies (#231)
  doc/changelog.d/231.fixed.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 233.dependencies.md [dependabot-skip]
  doc/changelog.d/233.dependencies.md
Labels: none

fix: Wrong unit for specific loudness and specific roughness in documentation (#232)
  doc/changelog.d/232.fixed.md
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
  tests/tests_spectral_processing/test_power_spectral_density.py
Labels: none

chore: adding changelog file 234.miscellaneous.md [dependabot-skip]
  doc/changelog.d/234.miscellaneous.md
Labels: none

chore: adding changelog file 234.miscellaneous.md [dependabot-skip]
  doc/changelog.d/234.miscellaneous.md
Labels: none

chore: adding changelog file 237.dependencies.md [dependabot-skip]
  doc/changelog.d/237.dependencies.md
Labels: none

chore: adding changelog file 235.dependencies.md [dependabot-skip]
  doc/changelog.d/235.dependencies.md
Labels: none

chore: adding changelog file 236.dependencies.md [dependabot-skip]
  doc/changelog.d/236.dependencies.md
Labels: none

chore: adding changelog file 238.miscellaneous.md [dependabot-skip]
  doc/changelog.d/238.miscellaneous.md
Labels: none

chore: adding changelog file 238.miscellaneous.md [dependabot-skip]
  doc/changelog.d/238.miscellaneous.md
Labels: none

Helper class + cleanup for DIN45681 + removed default value for indexes
  src/ansys/sound/core/psychoacoustics/tonality_iso_ts_20065.py
Labels: none

added to init & doc
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
Labels: documentation

Test class + some fixes
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_ts_20065.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso_ts_20065.py
Labels: none

chore: adding changelog file 239.added.md [dependabot-skip]
  doc/changelog.d/239.added.md
Labels: none

helper class + doc update
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
Labels: documentation

docs: added descriptive text for each section of the API reference section
  doc/source/api/helpers.rst
  doc/source/api/psychoacoustics.rst
  doc/source/api/signal_processing.rst
  doc/source/api/signal_utilities.rst
  doc/source/api/sound_composer.rst
  doc/source/api/sound_power.rst
  doc/source/api/spectral_processing.rst
  doc/source/api/spectrogram_processing.rst
  doc/source/api/standard_levels.rst
  doc/source/api/xtract.rst
  doc/source/index.rst
Labels: documentation

docs: documentation review of the Sound Composer
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_composer/track.py
Labels: none

chore: adding changelog file 240.dependencies.md [dependabot-skip]
  doc/changelog.d/240.dependencies.md
Labels: none

chore: adding changelog file 241.dependencies.md [dependabot-skip]
  doc/changelog.d/241.dependencies.md
Labels: none

chore: adding changelog file 242.dependencies.md [dependabot-skip]
  doc/changelog.d/242.dependencies.md
Labels: none

feat: Tonality IS/TS 20065 (#239)
  doc/changelog.d/239.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_ts_20065.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso_ts_20065.py
Labels: documentation

docs: complete documentation review of the psychoacoustic indicators
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_ansi_s3_4.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio_for_orders_over_time.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness_din_45692.py
  src/ansys/sound/core/psychoacoustics/sharpness_din_45692_over_time.py
  src/ansys/sound/core/psychoacoustics/sharpness_over_time.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders_over_time.py
Labels: none

Test class & data + fixed a few issues in helper + reorder test data in conftest for better clarity
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
  tests/conftest.py
  tests/data/Acceleration_stereo_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_2.py
Labels: testing

fixed a couple of docstrings
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
Labels: none

chore: adding changelog file 244.added.md [dependabot-skip]
  doc/changelog.d/244.added.md
Labels: none

chore: adding changelog file 245.miscellaneous.md [dependabot-skip]
  doc/changelog.d/245.miscellaneous.md
Labels: none

chore: adding changelog file 243.documentation.md [dependabot-skip]
  doc/changelog.d/243.documentation.md
Labels: none

docs: fix typo in documentation
  doc/source/api/spectrogram_processing.rst
Labels: documentation

chore: adding changelog file 245.miscellaneous.md [dependabot-skip]
  doc/changelog.d/245.miscellaneous.md
Labels: none

docs: updated the output type specification for PyAnsysSound.get_output_as_nparray()
  src/ansys/sound/core/_pyansys_sound.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
