Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 198.documentation.md [dependabot-skip]
  doc/changelog.d/198.documentation.md
Labels: none

chore: adding changelog file 199.documentation.md [dependabot-skip]
  doc/changelog.d/199.documentation.md
Labels: none

chore: adding changelog file 199.dependencies.md [dependabot-skip]
  doc/changelog.d/199.dependencies.md
Labels: none

chore: adding changelog file 198.dependencies.md [dependabot-skip]
  doc/changelog.d/198.dependencies.md
Labels: none

Added missing tests
  LICENSE
  src/ansys/sound/core/sound_composer/sound_composer.py
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

chore: adding changelog file 200.added.md [dependabot-skip]
  doc/changelog.d/200.added.md
Labels: none

Fix couple of errors in track's gdc management
  src/ansys/sound/core/sound_composer/track.py
Labels: none

Removed test len>0 for SourceControlTime, as sound composer projects can be saved in SAS even without defining source control (in which case it is empty)
  src/ansys/sound/core/sound_composer/source_control_time.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
Labels: none

typo and message fix
  src/ansys/sound/core/sound_composer/source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

typo
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

added test for set_from_gdc (also renamed for consistency with sources' methods)
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

typo
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

Add tests for set/get as gdc for SourceSpectrum
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

Added tests for set/get as gdc for SourceAudio
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

Added test for set/get as gdc for SourceBBN
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

Add tests for set/get as gdc for source BBN + added some other asserts + some variable renames
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

Add tests for get/set as gdc for harmo 2 params
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

add test for set/get as gdc for source harmo
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

add tests for parent as well
  tests/tests_sound_composer/test_sound_composer__source_parent.py
Labels: none

typo
  src/ansys/sound/core/sound_composer/sound_composer.py
Labels: none

renaming variables for consistency
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

typo
  src/ansys/sound/core/sound_composer/track.py
Labels: none

another typo
  src/ansys/sound/core/sound_composer/track.py
Labels: none

Created helper class and doc entry
  doc/source/api/index.rst
  doc/source/api/standard_levels.rst
  src/ansys/sound/core/standard_levels/__init__.py
  src/ansys/sound/core/standard_levels/_standard_levels_parent.py
  src/ansys/sound/core/standard_levels/overall_level.py
Labels: documentation

Overall level test class
  src/ansys/sound/core/standard_levels/overall_level.py
  tests/tests_standard_levels/test_standard_levels_overall_level.py
Labels: none

Helper class LevelOverTime and doc
  doc/source/api/standard_levels.rst
  src/ansys/sound/core/standard_levels/__init__.py
  src/ansys/sound/core/standard_levels/level_over_time.py
Labels: documentation

Test class
  src/ansys/sound/core/standard_levels/level_over_time.py
  tests/tests_standard_levels/test_standard_levels_level_over_time.py
Labels: none

chore: adding changelog file 201.added.md [dependabot-skip]
  doc/changelog.d/201.added.md
Labels: none

A few improvements (doc mostly) + also entered the correct expected value in Custome case (which currently fails)
  src/ansys/sound/core/standard_levels/_standard_levels_parent.py
  src/ansys/sound/core/standard_levels/level_over_time.py
  src/ansys/sound/core/standard_levels/overall_level.py
  tests/tests_standard_levels/test_standard_levels_level_over_time.py
Labels: none

Fix expected values, and operator expected time unit
  src/ansys/sound/core/standard_levels/level_over_time.py
  tests/tests_standard_levels/test_standard_levels_level_over_time.py
Labels: none

chore: adding changelog file 201.added.md [dependabot-skip]
  doc/changelog.d/201.added.md
Labels: none

convert ref value to float if it is an int
  src/ansys/sound/core/standard_levels/level_over_time.py
  src/ansys/sound/core/standard_levels/overall_level.py
Labels: none

simplification
  src/ansys/sound/core/standard_levels/level_over_time.py
  src/ansys/sound/core/standard_levels/overall_level.py
Labels: none

Fixed a test + 2 typos
  src/ansys/sound/core/standard_levels/level_over_time.py
  src/ansys/sound/core/standard_levels/overall_level.py
  tests/tests_standard_levels/test_standard_levels_overall_level.py
Labels: none

feat: added class tone_to_noise_ratio_for_orders + associated tests and documentation
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
  tests/conftest.py
  tests/data/Acceleration_with_Tacho_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders.py
Labels: documentation, testing

chore: adding changelog file 202.added.md [dependabot-skip]
  doc/changelog.d/202.added.md
Labels: none

Comment modifications (and fixed pre-commit, otherwise I couldn't push)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders.py
Labels: none

Fix broken test
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders.py
Labels: none

chore: adding changelog file 204.dependencies.md [dependabot-skip]
  doc/changelog.d/204.dependencies.md
Labels: none

feat: renamming class with appropriate name
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders.py
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
