Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

chore: adding changelog file 78.changed.md
  doc/changelog.d/78.changed.md
Labels: none

build: using `flit_core` as build-system (#78)
  doc/changelog.d/78.changed.md
  pyproject.toml
Labels: maintenance

chore: update CHANGELOG for v0.1.1 (#77)
  CHANGELOG.md
  doc/changelog.d/75.changed.md
  doc/changelog.d/77.changed.md
Labels: none

chore: bump version to ``0.1.2``
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.1.2
  CHANGELOG.md
  doc/changelog.d/77.changed.md
  doc/changelog.d/78.changed.md
Labels: none

chore: updating CHANGELOG for v0.1.2
  CHANGELOG.md
  doc/changelog.d/77.changed.md
  doc/changelog.d/78.changed.md
Labels: none

chore: adding changelog file 79.changed.md
  doc/changelog.d/79.changed.md
Labels: none

chore: update CHANGELOG for v0.1.2 (#79)
  CHANGELOG.md
  doc/changelog.d/77.changed.md
  doc/changelog.d/78.changed.md
  doc/changelog.d/79.changed.md
Labels: none

A few comment clarifications
  examples/006_calculate_PR_and_TNR.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  tests/tests_spectral_processing/test_power_spectral_density.py
Labels: documentation

feat: Add a new helper for the power spectral density operator (psd) in PyAnsys Sound (#67)
  doc/changelog.d/67.added.md
  examples/006_calculate_PR_and_TNR.py
  src/ansys/sound/core/spectral_processing/__init__.py
  src/ansys/sound/core/spectral_processing/_spectral_processing_parent.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/tests_spectral_processing/test_power_spectral_density.py
Labels: documentation

chore: adding changelog file 80.dependencies.md
  doc/changelog.d/80.dependencies.md
Labels: none

docs: updated default image for the documentation cards page of examples 3, 4 and 5
  doc/source/_static/_image/example001_thumbnail.png
  doc/source/_static/_image/example003_thumbnail.png
  doc/source/_static/_image/example004_thumbnail.png
  doc/source/_static/_image/example005_thumbnail.png
  examples/001_initialize_server_and_deal_with_license.py
  examples/003_compute_stft.py
  examples/004_isolate_orders.py
  examples/005_xtract_feature.py
Labels: documentation

chore: adding changelog file 82.added.md
  doc/changelog.d/82.added.md
Labels: none

docs: set a default image for examples' illustration Set a default image for the card of examples 3, 4 and 5. Renamed example image of exemple 1.
  doc/source/_static/_image/pyansys-sound.code-workspace
Labels: documentation

chore: adding changelog file 83.miscellaneous.md
  doc/changelog.d/83.miscellaneous.md
Labels: none

chore: adding changelog file 83.miscellaneous.md
  doc/changelog.d/83.miscellaneous.md
Labels: none

chore: remove unwanted file
  doc/source/_static/_image/pyansys-sound.code-workspace
Labels: documentation

chore: adding changelog file 85.dependencies.md
  doc/changelog.d/85.dependencies.md
Labels: none

chore: adding changelog file 84.dependencies.md
  doc/changelog.d/84.dependencies.md
Labels: none

chore: adding changelog file 86.dependencies.md
  doc/changelog.d/86.dependencies.md
Labels: none

chore: adding changelog file 87.dependencies.md
  doc/changelog.d/87.dependencies.md
Labels: none

chore: adding changelog file 88.dependencies.md
  doc/changelog.d/88.dependencies.md
Labels: none

Created SWL ISO3744 class
  src/ansys/sound/core/sound_power/__init__.py
  src/ansys/sound/core/sound_power/_sound_power_parent.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Fixed a wrong ID
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Coordinates no longer used, signal names used as dict keys instead
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Fixed inversion of sound and power in operator name
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Improved __str__
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

More consistent operator IDs
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Fixed C1, C2, and K2 new values not being stored + added a test on signal type (Field)
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Added checks on room properties
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Fixed wrong return for get_output_as_np when no process (+ inverted order of K2/C1/C2 setter methods)
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Sorted out getters when not processed yet
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Fixed get_Lw_octave name
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Removed obsolete plot param
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Created SWL test class
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: none

added some rounds in __str__ and check signal name duplicates + changed test such that every expected result is defined as a constant at the top of the file
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: none

chore: adding changelog file 81.miscellaneous.md
  doc/changelog.d/81.miscellaneous.md
Labels: none

bugfix: fixing files downloading
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

chore: adding changelog file 91.miscellaneous.md
  doc/changelog.d/91.miscellaneous.md
Labels: none

fix: added tests
  tests/test_example_helpers.py
Labels: testing
