Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

minor change
  tests/conftest.py
Labels: testing

typo
  src/ansys/sound/core/sound_composer/track.py
Labels: none

remove dpf_server fixture
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

feat: source harmonics for sound composer (#184)
  doc/changelog.d/184.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  tests/conftest.py
  tests/data/AnsysSound_Orders Pa v1_2024R2_20241203.txt
  tests/data/AnsysSound_Orders V2_2024R2_20241203.txt
  tests/data/AnsysSound_Orders dBSPL v1_10_rpm_values_40_orders_2024R2_20241203.txt
  tests/data/AnsysSound_Orders dBSPL v1_2024R2_20241203.txt
  tests/data/VRX_Waterfall_2024R2_20241203.xml
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: documentation, testing

update tests after bug fix
  tests/tests_spectral_processing/test_spectral_processing_filter.py
Labels: none

feat: source harmonics 2 parameters for sound composer (#186)
  doc/changelog.d/186.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  tests/conftest.py
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL - InvertedContols_2024R2_20241205.txt
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL_2024R2_20241205.txt
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL_many_values_2024R2_20241205.txt
  tests/data/AnsysSound_Orders_MultipleParameters_FromAccelWithTacho_2024R2_20241205.txt
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: documentation, testing

Move Filter into a new package
  src/ansys/sound/core/signal_processing/__init__.py
  src/ansys/sound/core/signal_processing/_signal_processing_parent.py
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/spectral_processing/_spectral_processing_parent.py
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: none

doc update
  doc/source/api/signal_processing.rst
  doc/source/api/spectral_processing.rst
Labels: documentation

Update track following filter package change
  src/ansys/sound/core/sound_composer/track.py
Labels: none

missing package in doc
  doc/source/api/index.rst
Labels: documentation

typo
  doc/source/api/signal_processing.rst
Labels: documentation

Added internal references to properties
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

Added note about fs/2 vs max frf freq
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

feat: filter class for sound composer (and other things) (#190)
  doc/changelog.d/190.added.md
  doc/source/api/index.rst
  doc/source/api/signal_processing.rst
  src/ansys/sound/core/signal_processing/__init__.py
  src/ansys/sound/core/signal_processing/_signal_processing_parent.py
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/spectral_processing/_spectral_processing_parent.py
  tests/conftest.py
  tests/data/AnsysSound_FRF_2024R2_20241206.txt
  tests/data/AnsysSound_FRF_bad_2024R2_20241206.txt
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: documentation, testing

Added plot_controls and track now calls source's plot_control and __str__
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

feat: Sound Composer track (#191)
  doc/changelog.d/191.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: documentation

helper and test class +doc
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_composer/track.py
Labels: documentation

Removed fs from SoundComposer + Created set_from_gdc for tracks so that SoundComposer no longer needs source type dict + deactivated save for now + added test in track process vs filter fs
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/track.py
Labels: none

feat: improve example files handling in examples scripts
  examples/001_initialize_server_and_deal_with_license.py
  examples/002_load_resample_amplify_write_wav_files.py
  examples/003_compute_stft.py
  examples/004_isolate_orders.py
  examples/005_xtract_feature.py
  examples/006_calculate_PR_and_TNR.py
  examples/007_calculate_psychoacoustic_indicators.py
  src/ansys/sound/core/examples_helpers/download.py
Labels: documentation

chore: adding changelog file 193.added.md [dependabot-skip]
  doc/changelog.d/193.added.md
Labels: none

feat: spelling for precommit
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

feat: spelling and formating for precommit
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

added test class
  src/ansys/sound/core/sound_composer/sound_composer.py
  tests/conftest.py
  tests/data/20241031_SoundComposerProjectForDpfSoundTesting.scn
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: testing

fix an error in track
  src/ansys/sound/core/sound_composer/track.py
Labels: none

added a test for fs mismatch in track
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

Added TODO sections in tests
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

fixed a few tests
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

feat: rename function, add documentation, remove unused parameter
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

feat: reformat following precommit
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

feat: make function private
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

feat: force pipeline to fail when example generation fails
  doc/source/conf.py
Labels: documentation

feat: force pipeline to fail when example generation fails - still an error in example 6, for testing this commit
  doc/source/conf.py
Labels: documentation

feat: improve functions documentation
  examples/006_calculate_PR_and_TNR.py
  src/ansys/sound/core/examples_helpers/download.py
Labels: documentation

feat: fix example 1 to re-upload file to the new server
  examples/001_initialize_server_and_deal_with_license.py
Labels: documentation

feat: skipping some tests voluntarily
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

chore: adding changelog file 194.dependencies.md [dependabot-skip]
  doc/changelog.d/194.dependencies.md
Labels: none

feat: improve example files handling in examples scripts (#193)
  doc/changelog.d/193.added.md
  doc/source/conf.py
  examples/001_initialize_server_and_deal_with_license.py
  examples/002_load_resample_amplify_write_wav_files.py
  examples/003_compute_stft.py
  examples/004_isolate_orders.py
  examples/005_xtract_feature.py
  examples/006_calculate_PR_and_TNR.py
  examples/007_calculate_psychoacoustic_indicators.py
  src/ansys/sound/core/examples_helpers/download.py
Labels: documentation

chore: adding changelog file 195.dependencies.md [dependabot-skip]
  doc/changelog.d/195.dependencies.md
Labels: none

chore: adding changelog file 196.dependencies.md [dependabot-skip]
  doc/changelog.d/196.dependencies.md
Labels: none

chore: adding changelog file 197.documentation.md [dependabot-skip]
  doc/changelog.d/197.documentation.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
