Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

docs: removed a duplicated line + reverted the previous commit pushed by mistake
  examples/006_calculate_PR_and_TNR.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: documentation

Fix pre commit + a few rephrasings
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

fix precommit again
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

A few doc changes
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

chore: adding changelog file 167.dependencies.md [dependabot-skip]
  doc/changelog.d/167.dependencies.md
Labels: none

chore: adding changelog file 168.dependencies.md [dependabot-skip]
  doc/changelog.d/168.dependencies.md
Labels: none

Fix file_source argument description
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

Fix tests not finding test spectrum file
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

SourceAudio helper and test classes
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_audio.py
  tests/conftest.py
  tests/data/flute_nonUnitaryCalib_as_text_2024R2_20241125.txt
  tests/tests_sound_composer/test_sound_composer_source_audio.py
Labels: testing

renamed operator ID
  src/ansys/sound/core/sound_composer/source_audio.py
Labels: none

pre-commit fix
  tests/tests_sound_composer/test_sound_composer_source_audio.py
Labels: none

fix: remove unnecessary explicit getters (#166)
  doc/changelog.d/166.fixed.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_isolate_orders.py
Labels: documentation

Missing checks
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

handle deltaF in case where psd has a single point
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

feat: source spectrum for sound composer (#162)
  doc/changelog.d/162.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/conftest.py
  tests/data/AnsysSound_Spectrum_v3_-_nominal_-_dBSPLperHz_2024R2_20241121.txt
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: documentation, testing

Added to doc + fix pre-commit
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  tests/tests_sound_composer/test_sound_composer_source_audio.py
Labels: documentation

chore: adding changelog file 169.added.md [dependabot-skip]
  doc/changelog.d/169.added.md
Labels: none

Added check for fs>0 and empty audio for str
  src/ansys/sound/core/sound_composer/source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

Helper and test classes for SourceControlTime
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  tests/conftest.py
  tests/data/RPM_profile_2024R2_20241126.wav
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
Labels: documentation, testing

chore: adding changelog file 170.added.md [dependabot-skip]
  doc/changelog.d/170.added.md
Labels: none

fix pre-commit
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
Labels: none

Add a few checks
  src/ansys/sound/core/sound_composer/source_control_time.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
Labels: none

Set the unit to '' if loaded as txt
  src/ansys/sound/core/sound_composer/source_control_time.py
Labels: none

Changed get_time_scale return description
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

typo
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

new method to load wav, called in ctor
  src/ansys/sound/core/sound_composer/source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_audio.py
Labels: none

docs: updated description of some functions
  src/ansys/sound/core/sound_composer/source_control_time.py
Labels: none

typos + added some details
  src/ansys/sound/core/sound_composer/source_audio.py
Labels: none

Add expected text format
  src/ansys/sound/core/sound_composer/source_control_time.py
Labels: none

rephrasing
  src/ansys/sound/core/sound_composer/source_control_time.py
Labels: none

Fix default format in Parameters sections
  src/ansys/sound/core/sound_composer/source_audio.py
Labels: none

same fix in SourceSpectrum
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

Fixing default format
  src/ansys/sound/core/sound_composer/source_control_time.py
Labels: none

feat: tonality DIN45681 (#161)
  doc/changelog.d/161.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
Labels: documentation

sort out numpy arrays hints and doc
  examples/002_load_resample_amplify_write_wav_files.py
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_transient.py
Labels: documentation

chore: adding changelog file 171.documentation.md [dependabot-skip]
  doc/changelog.d/171.documentation.md
Labels: none

chore: adding changelog file 171.documentation.md [dependabot-skip]
  doc/changelog.d/171.documentation.md
Labels: none

missing tonality din (merged in main after branch creation)
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

Replaced numpy.typing.ArrayLike with numpy.ndarray
  src/ansys/sound/core/sound_composer/source_audio.py
Labels: none

typo
  src/ansys/sound/core/sound_composer/source_audio.py
Labels: none
