Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

feat: sharpness DIN and sharpness DIN over time (#219)
  doc/changelog.d/219.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/sharpness_din_45692.py
  src/ansys/sound/core/psychoacoustics/sharpness_din_45692_over_time.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness_din_45692.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness_din_45692_over_time.py
Labels: documentation

switch pydpf-core dependency to dev version
  pyproject.toml
Labels: maintenance

Remove duplicated dependency
  pyproject.toml
Labels: maintenance

chore: adding changelog file 222.maintenance.md [dependabot-skip]
  doc/changelog.d/222.maintenance.md
Labels: none

ci: switch pydpfcore dependency to dev version (#222)
  doc/changelog.d/222.maintenance.md
  pyproject.toml
Labels: maintenance

FIxed a few issues
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/conftest.py
  tests/data/20241031_SoundComposerProjectForDpfSoundTesting.scn
  tests/data/20250130_SoundComposerProjectForDpfSoundTesting_valid.scn
Labels: testing

added field type in loudness iso stat/time-var and adjusted tests
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_stationary.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness_din_45692.py
Labels: none

chore: adding changelog file 223.fixed.md [dependabot-skip]
  doc/changelog.d/223.fixed.md
Labels: none

Fix PSD params in example 6
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

chore: adding changelog file 224.fixed.md [dependabot-skip]
  doc/changelog.d/224.fixed.md
Labels: none

chore: adding changelog file 225.miscellaneous.md [dependabot-skip]
  doc/changelog.d/225.miscellaneous.md
Labels: none

fix: apply the same PSD parameters for TNR/PR calculation as in SAS (#224)
  doc/changelog.d/224.fixed.md
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

chore: adding changelog file 225.miscellaneous.md [dependabot-skip]
  doc/changelog.d/225.miscellaneous.md
Labels: none

fix: add field type in loudness ISO532-1 (stationary/time-varying) (#223)
  doc/changelog.d/223.fixed.md
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_stationary.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness_din_45692.py
Labels: none

Fix expected values + add a check on track list
  src/ansys/sound/core/sound_composer/sound_composer.py
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

Fixes necessary following spectrum synthesis int values change (1/2 -> 0/1)
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

Re-add period sign for Resample link
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

Add a comment
  src/ansys/sound/core/sound_composer/sound_composer.py
Labels: none

Fix wrong gdc property names
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
Labels: none

Done for FluctuationStrength
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  tests/tests_psychoacoustics/test_psychoacoustics_fluctuation_strength.py
Labels: none

Done for LoudnessISO532_1_Stationary
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_stationary.py
Labels: none

missing default value in doc
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
Labels: none

Phrasing fixes
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_composer/track.py
Labels: none

Done for LoudnessISO532_1_TimeVarying
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_time_varying.py
Labels: none

missing coverage
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_stationary.py
Labels: none

chore: adding changelog file 226.added.md [dependabot-skip]
  doc/changelog.d/226.added.md
Labels: none

Removed obsolete test signals and expected values
  tests/conftest.py
  tests/data/fluctuating_tone.wav
  tests/data/flute2.wav
  tests/tests_psychoacoustics/test_psychoacoustics_fluctuation_strength.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_stationary.py
Labels: testing

Remove obsolete parent method
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  tests/tests_psychoacoustics/test_psychoacoustics_parent.py
Labels: none

Example modified accordingly (also finished removing obsolete flute2)
  examples/007_calculate_psychoacoustic_indicators.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
  tests/test_example_helpers.py
Labels: documentation, testing

Fixed a comment that caused a weird line split from pre-commit
  examples/007_calculate_psychoacoustic_indicators.py
Labels: documentation

a couple of oversights in doc
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
Labels: none

minor comment fix
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
Labels: none

Fixed links in example and a typo
  examples/007_calculate_psychoacoustic_indicators.py
Labels: documentation

feat: remove compatibility with fields containers in psychoacoustics package (#226)
  doc/changelog.d/226.added.md
  examples/007_calculate_psychoacoustic_indicators.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  tests/conftest.py
  tests/data/fluctuating_tone.wav
  tests/data/flute2.wav
  tests/test_example_helpers.py
  tests/tests_psychoacoustics/test_psychoacoustics_fluctuation_strength.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_stationary.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_parent.py
Labels: documentation, testing

Removed 'gdc' occurences
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

Integrated quantity type (is spectrum type for 1-/2-param BBN sources)
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  tests/conftest.py
  tests/data/AnsysSound_BBN_MultipleParameters dBSPL Octave v2_2024R2_20240418.txt
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: testing

fix: avoid the usage of the "egg" concept
  pyproject.toml
Labels: maintenance

chore: adding changelog file 227.fixed.md [dependabot-skip]
  doc/changelog.d/227.fixed.md
Labels: none

Update pyproject.toml
  pyproject.toml
Labels: maintenance

feat: Sound Composer main helper class (#200)
  doc/changelog.d/200.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_composer/track.py
  tests/conftest.py
  tests/data/20250130_SoundComposerProjectForDpfSoundTesting_valid.scn
  tests/data/AnsysSound_BBN_MultipleParameters dBSPL Octave v2_2024R2_20240418.txt
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: documentation, testing
