Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

feat: Modification after PR Review (1)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
Labels: none

feat: Modification after PR Review (2)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
Labels: none

feat: Modification after PR Review (3)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
Labels: none

feat: Modification after PR Review (4)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders.py
Labels: none

feat: Modification after PR Review (5)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
Labels: none

feat: Modification after PR Review (6)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
Labels: none

Account for PR review
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/standard_levels/level_over_time.py
  src/ansys/sound/core/standard_levels/overall_level.py
Labels: none

chore: adding changelog file 203.dependencies.md [dependabot-skip]
  doc/changelog.d/203.dependencies.md
Labels: none

feat: Modification after PR Review (7)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders.py
Labels: none

feat: Modification after PR Review (8)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders.py
Labels: none

feat: overall level and level over time (#201)
  doc/changelog.d/201.added.md
  doc/source/api/index.rst
  doc/source/api/standard_levels.rst
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/standard_levels/__init__.py
  src/ansys/sound/core/standard_levels/_standard_levels_parent.py
  src/ansys/sound/core/standard_levels/level_over_time.py
  src/ansys/sound/core/standard_levels/overall_level.py
  tests/tests_standard_levels/test_standard_levels_level_over_time.py
  tests/tests_standard_levels/test_standard_levels_overall_level.py
Labels: documentation

Helper, test, and doc for Aures tonality
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
  tests/conftest.py
  tests/data/Aircraft-App2_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_aures.py
Labels: documentation, testing

Arranged references in class docstring
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
Labels: none

chore: adding changelog file 205.added.md [dependabot-skip]
  doc/changelog.d/205.added.md
Labels: none

chore: adding changelog file 206.miscellaneous.md [dependabot-skip]
  doc/changelog.d/206.miscellaneous.md
Labels: none

Fixed a doc error
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
Labels: none

Fixed another doc error
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
Labels: none

Some minor doc improvements
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
Labels: none

feat: Modification after PR Review (9)
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders.py
Labels: none

Fixing doc issues spotted in review
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_aures.py
Labels: none

feat: class tone_to_noise_ratio_for_orders_vs_time (#202)
  doc/changelog.d/202.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders.py
  tests/conftest.py
  tests/data/Acceleration_with_Tacho_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders.py
Labels: documentation, testing

feat: Added tonality ECMA418_2
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_ecma_418_2.py
Labels: documentation

feat: PR for orders over time
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio_for_orders_over_time.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders_over_time.py
  tests/tests_psychoacoustics/test_psychoacoustics_prominence_ratio_for_orders_over_time.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders_over_time.py
Labels: documentation

chore: adding changelog file 207.added.md [dependabot-skip]
  doc/changelog.d/207.added.md
Labels: none

Added comment for DPF operator name
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
Labels: none

Fixed minor issue in plot ylabel
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
Labels: none

feat: Added tonality_iso1996_2
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_iso1996_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso1996_2.py
Labels: documentation

feat: minor modifs in tonality ecma 418_2
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_ecma_418_2.py
Labels: none

feat: minor modifs in tonality ecma 418_2 (2)
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
Labels: none

Helper class + doc
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
Labels: documentation

Removing the cast to bool
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
Labels: none

Fixed a few comment sections
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
Labels: none

added a comment for DPF operator ID + fixed a few typos
  src/ansys/sound/core/psychoacoustics/prominence_ratio_for_orders_over_time.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders_over_time.py
Labels: none

Fixed some docstrings and plot strings
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
Labels: none

fixed a comment
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
Labels: none

chore: adding changelog file 208.added.md [dependabot-skip]
  doc/changelog.d/208.added.md
Labels: none

A few docstring changes
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
Labels: none

feat: PR for orders over time (#207)
  doc/changelog.d/207.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio_for_orders_over_time.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders_over_time.py
  tests/tests_psychoacoustics/test_psychoacoustics_prominence_ratio_for_orders_over_time.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio_for_orders_over_time.py
Labels: documentation

feat: minor modifs in tonality ecma 418_2 (3)
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_ecma_418_2.py
Labels: none

test class + updated helper class
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso_1996_2_over_time.py
Labels: none
