Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Added tests
  src/ansys/sound/core/spectral_processing/filter.py
  tests/conftest.py
  tests/tests_spectral_processing/test_spectral_processing_filter.py
Labels: testing

add to doc
  doc/source/api/spectral_processing.rst
Labels: documentation

chore: adding changelog file 190.added.md [dependabot-skip]
  doc/changelog.d/190.added.md
Labels: none

Added a doc link in class description
  src/ansys/sound/core/spectral_processing/filter.py
Labels: none

Fixed a few typos and missing punctuation in comments
  tests/conftest.py
Labels: testing

added missing mock_show
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
  tests/tests_spectral_processing/test_spectral_processing_filter.py
Labels: none

added missing mock_show
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

added missing mock_show
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

added missing mock_show
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

added missing mock_show
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: none

test: Changed a variable for more flexibility
  tests/conftest.py
Labels: testing

Added __str__
  src/ansys/sound/core/spectral_processing/filter.py
  tests/tests_spectral_processing/test_spectral_processing_filter.py
Labels: none

Added a test of output for inverted controls that should fail currently
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL - InvertedContols_2024R2_20241205.txt
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

test: restored correct path for temporary folder
  tests/conftest.py
Labels: testing

Set real expected output values (from SAS + Matlab). Should fail because of DPFS bug
  tests/tests_spectral_processing/test_spectral_processing_filter.py
Labels: none

feat: source broadband noise for sound composer (#172)
  doc/changelog.d/172.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/conftest.py
  tests/data/AnsysSound_BBN dBSPL OCTAVE Constants.txt
  tests/data/AnsysSound_BBN dBSPLperHz NARROWBAND v2_40values_2024R2_20241128.txt
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: documentation, testing

Remove source_ prefix in source_control properties, for consistency with BBN 2 param source
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

feat: source broadband noise 2 parameters for sound composer (#180)
  doc/changelog.d/180.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/__init__.py
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  tests/conftest.py
  tests/data/AnsysSound_BBN_MultipleParameters Pa2PerHz Narrowband v2_2024R2_20240418.txt
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: documentation, testing

Removed obsolete commented line
  src/ansys/sound/core/spectral_processing/filter.py
Labels: none

restored source_ prefix (to distinguish source control objects from their field attributes)
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

feat: added missing paths
  tests/conftest.py
Labels: testing

Fixed data checks and error messages
  src/ansys/sound/core/sound_composer/source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

feat: removed unused fixtures
  tests/conftest.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: testing

Typos in test comments
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

fix pre-commit
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: none

another pre-commit fix
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: none

Fixed data checks and error messages (+typos)
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

Reduce test tolerance from 3 to 1 dB
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

missing whitespace
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
Labels: none

B before A in ctor, docstring fixes, and 1 typo
  src/ansys/sound/core/spectral_processing/filter.py
  tests/tests_spectral_processing/test_spectral_processing_filter.py
Labels: none

Helper and test class + modified a source bbn 2p attribute for consistency
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: documentation

chore: adding changelog file 191.added.md [dependabot-skip]
  doc/changelog.d/191.added.md
Labels: none

One omitted fixture
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

chore: adding changelog file 192.dependencies.md [dependabot-skip]
  doc/changelog.d/192.dependencies.md
Labels: none

Update conftest following merge
  tests/conftest.py
Labels: testing

Remove dpf_server fixture from tests
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

Update conftest following merge
  tests/conftest.py
Labels: testing

remove dpf_server fixture
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: none

Update conftest following merge
  tests/conftest.py
Labels: testing

remove dpf_server fixture
  tests/tests_spectral_processing/test_spectral_processing_filter.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
