Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

docs: fixed typos and uncoherences
  doc/source/api/sound_composer.rst
  doc/source/index.rst
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
Labels: documentation

docs: fixed pre-commit errors related to the documentation
  doc/source/index.rst
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio_for_orders_over_time.py
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/track.py
Labels: documentation

feat: first update to example007 relative to psychoacoustic indicators, relative to recent addition of new indicators
  examples/007_calculate_psychoacoustic_indicators.py
Labels: documentation

chore: adding changelog file 246.added.md [dependabot-skip]
  doc/changelog.d/246.added.md
Labels: none

fixing MBT feedback
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio_for_orders_over_time.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders_over_time.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
Labels: none

ommitted file
  doc/source/index.rst
Labels: documentation

fixing vale
  doc/source/api/sound_composer.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

Fixing rpm scale docstring in tnr/pr vs time
  src/ansys/sound/core/psychoacoustics/prominence_ratio_for_orders_over_time.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders_over_time.py
Labels: none

Updated docstring to match doc review for other loudness classes
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
Labels: none

Bad copy paste
  src/ansys/sound/core/psychoacoustics/prominence_ratio_for_orders_over_time.py
Labels: none

Storing and managing frf in Filter class
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

fix input condition + added dependency in toml
  pyproject.toml
  src/ansys/sound/core/signal_processing/filter.py
Labels: maintenance

some updates related to feedbacks
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
Labels: none

added a comment on length comparison
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
Labels: none

use parametrize decorator
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_2.py
Labels: none

Updated Filter test class
  src/ansys/sound/core/signal_processing/filter.py
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: none

chore: adding changelog file 247.dependencies.md [dependabot-skip]
  doc/changelog.d/247.dependencies.md
Labels: none

Save implemented and tested
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

chore: adding changelog file 248.added.md [dependabot-skip]
  doc/changelog.d/248.added.md
Labels: none

A few doc improvements
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_composer/track.py
Labels: none

minor error message change
  src/ansys/sound/core/signal_processing/filter.py
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: none

add warnings in case of empty projects
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

chore: adding changelog file 245.miscellaneous.md [dependabot-skip]
  doc/changelog.d/245.miscellaneous.md
Labels: none

Minor warning message fix
  src/ansys/sound/core/sound_composer/sound_composer.py
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

Store displayed string as a property
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
Labels: none

Updated tests accordingly
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

typo
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

fix description test
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: none

docstring fix
  src/ansys/sound/core/sound_composer/source_control_time.py
Labels: none

comment fix
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: none

Fixed plot_FRF considering FRF is stored in dB + added info in docstring
  src/ansys/sound/core/signal_processing/filter.py
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: none

remove path existence test as it cannot work in the docker
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

feat: Loudness ISO 532-2 (#244)
  doc/changelog.d/244.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
  tests/conftest.py
  tests/data/Acceleration_stereo_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_2.py
Labels: documentation, testing

Changing CI call to docker container only for tests
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 249.maintenance.md [dependabot-skip]
  doc/changelog.d/249.maintenance.md
Labels: none

Changing CI call to docker container also for doc
  .github/workflows/ci_cd.yml
Labels: maintenance

typo
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

Re added a fixed test of saved project file existence
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

added saved project's content tests
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

fixed save content test + removed file existence test as it is redundant with content test
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none
