Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

added doc entry
  doc/source/api/sound_composer.rst
Labels: documentation

no str in collection's fields + added Ls + fixed tone levels name
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

Missing duration unit + some comment updates
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
Labels: none

removed @dataclass + defined __init__ + removed unnecessary __init__ from parent classes + add soundcomposer to doc index + add dummy strings to test doc
  doc/source/api/index.rst
  src/ansys/sound/core/sound_composer/_sound_composer_parent.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
Labels: documentation

fix doc + fix default method
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
Labels: none

Missing quotes
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
Labels: none

Methods as an enum (also 1/2 instead of 0/1)
  src/ansys/sound/core/sound_composer/_sound_composer_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
Labels: none

updated test also
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
Labels: none

fix enum names
  src/ansys/sound/core/sound_composer/_sound_composer_parent.py
Labels: none

Fixed method names to match DPF operator's expected strs
  src/ansys/sound/core/sound_composer/_sound_composer_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
Labels: none

moved method enum in scs + made it private + added get_method_name method (useful later)
  src/ansys/sound/core/sound_composer/_sound_composer_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
Labels: none

chore: adding changelog file 159.dependencies.md [dependabot-skip]
  doc/changelog.d/159.dependencies.md
Labels: none

chore: adding changelog file 160.maintenance.md [dependabot-skip]
  doc/changelog.d/160.maintenance.md
Labels: none

methods as a separate class
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
Labels: none

Missing docstring
  src/ansys/sound/core/sound_composer/_source_control_parent.py
Labels: none

improved method setter check
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
Labels: none

added doc note
  src/ansys/sound/core/sound_composer/_source_control_parent.py
Labels: none

pre-commit minor fix
  src/ansys/sound/core/sound_composer/_source_control_parent.py
Labels: none

methods in doc
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
Labels: documentation

docs: improvement and rephrasing of doc the control of a source of type spectrum in the Sound Composer
  src/ansys/sound/core/sound_composer/_sound_composer_parent.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
Labels: none

feat: spectrum source control for sound composer (#158)
  doc/changelog.d/158.added.md
  doc/source/api/index.rst
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/_sound_composer_parent.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
Labels: documentation

Update class & test following first tests with operator
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
Labels: none

ommitted __init__.py
  src/ansys/sound/core/psychoacoustics/__init__.py
Labels: none

Fix doc, comments and displayed messages
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
Labels: none

explined FG vs ''
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

chore: adding changelog file 161.added.md [dependabot-skip]
  doc/changelog.d/161.added.md
Labels: none

Source spectrum class and tests
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/conftest.py
  tests/data/AnsysSound Spectrum v3 - nominal - Pa2PerHz_2024R2_20240418.txt
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: documentation, testing

some additional doc updates
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

chore: adding changelog file 162.added.md [dependabot-skip]
  doc/changelog.d/162.added.md
Labels: none

chore: adding changelog file 162.added.md [dependabot-skip]
  doc/changelog.d/162.added.md
Labels: none

fix swl doc
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Missing return hint
  src/ansys/sound/core/_pyansys_sound.py
Labels: none

chore: adding changelog file 163.fixed.md [dependabot-skip]
  doc/changelog.d/163.fixed.md
Labels: none

Missing Parameters section
  src/ansys/sound/core/_pyansys_sound.py
Labels: none

chore: adding changelog file 163.fixed.md [dependabot-skip]
  doc/changelog.d/163.fixed.md
Labels: none

renamed is_control_set to -_valid and adjusted str messages
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

Moved Parameters section from ctor to class definition so that it appears in the doc
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

Move Parameters section from ctor to class definition so that it appears in doc
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
Labels: none

A few doc improvements
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/server_helpers/_validate_dpf_sound_connection.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

update test following operator fix
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
