Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

feat: updated window names for STFT, Isolate Orders and PSD
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/tests_spectral_processing/test_power_spectral_density.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_isolate_orders.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_stft.py
Labels: none

chore: adding changelog file 257.added.md [dependabot-skip]
  doc/changelog.d/257.added.md
Labels: none

chore: adding changelog file 256.documentation.md [dependabot-skip]
  doc/changelog.d/256.documentation.md
Labels: none

feat: whitespaces
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_isolate_orders.py
Labels: none

feat: fixed an example and some doc strings
  examples/003_compute_stft.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  tests/tests_spectral_processing/test_power_spectral_density.py
Labels: documentation

feat: starting the update of example 6 to calculate PR and TNR of specific orders
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

chore: adding changelog file 258.added.md [dependabot-skip]
  doc/changelog.d/258.added.md
Labels: none

feat: update example 6 with PR and TNR for orders
  examples/006_calculate_PR_and_TNR.py
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: documentation

docs: updated some comments, following reviewer suggestions
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

added links to helper classes and changed some wording
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

feat: initiation a new example that calculates several tonality indicators
  examples/009_calculate_tonality_indicators.py
Labels: documentation

chore: adding changelog file 259.added.md [dependabot-skip]
  doc/changelog.d/259.added.md
Labels: none

chore: adding changelog file 260.dependencies.md [dependabot-skip]
  doc/changelog.d/260.dependencies.md
Labels: none

chore: adding changelog file 261.dependencies.md [dependabot-skip]
  doc/changelog.d/261.dependencies.md
Labels: none

chore: adding changelog file 262.miscellaneous.md [dependabot-skip]
  doc/changelog.d/262.miscellaneous.md
Labels: none

docs: Documentation review for all of PyAnsys Sound (#256)
  doc/changelog.d/256.documentation.md
  doc/source/api/helpers.rst
  doc/source/api/sound_composer.rst
  doc/source/getting_started.rst
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/sharpness_din_45692.py
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_ts_20065.py
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
Labels: documentation

chore: adding changelog file 257.added.md [dependabot-skip]
  doc/changelog.d/257.added.md
Labels: none

Restore missing whitespaces removed during merge
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/stft.py
Labels: none

missing comma and "and"
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

feat: example of use of PR and TNR for orders (#258)
  doc/changelog.d/258.added.md
  examples/006_calculate_PR_and_TNR.py
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: documentation

chore: adding changelog file 262.miscellaneous.md [dependabot-skip]
  doc/changelog.d/262.miscellaneous.md
Labels: none

feat: Updating windows names available for PSD/Spectrograms/Levels (#257)
  .github/CODEOWNERS
  doc/changelog.d/257.added.md
  examples/003_compute_stft.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/tests_spectral_processing/test_power_spectral_density.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_isolate_orders.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_stft.py
Labels: documentation, maintenance

chore: adding changelog file 263.dependencies.md [dependabot-skip]
  doc/changelog.d/263.dependencies.md
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 264.maintenance.md [dependabot-skip]
  doc/changelog.d/264.maintenance.md
Labels: none

feat: write new example to demonstrate tonality indicators use. Add the necessary functiosn to download the example file aircraft10kHz.wav
  examples/009_calculate_tonality_indicators.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
  tests/test_example_helpers.py
Labels: documentation, testing

feat: create branch for new example 010, about the usage of the Sound Composer from an existing project. The work is still in progress.
  examples/010_sound_composer_load_project.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
Labels: documentation

feat: latest text changes for example009
  examples/009_calculate_tonality_indicators.py
Labels: documentation

Fix example test function name
  tests/test_example_helpers.py
Labels: testing

Modified explanatory texts
  examples/009_calculate_tonality_indicators.py
Labels: documentation

fixes following Matt's review
  examples/009_calculate_tonality_indicators.py
Labels: documentation
