Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 142.dependencies.md
  doc/changelog.d/142.dependencies.md
Labels: none

chore: adding changelog file 140.dependencies.md
  doc/changelog.d/140.dependencies.md
Labels: none

chore: adding changelog file 143.dependencies.md
  doc/changelog.d/143.dependencies.md
Labels: none

chore: adding changelog file 141.dependencies.md
  doc/changelog.d/141.dependencies.md
Labels: none

chore: adding changelog file 144.dependencies.md
  doc/changelog.d/144.dependencies.md
Labels: none

chore: adding changelog file 145.miscellaneous.md
  doc/changelog.d/145.miscellaneous.md
Labels: none

chore: adding changelog file 146.dependencies.md
  doc/changelog.d/146.dependencies.md
Labels: none

chore: adding changelog file 147.dependencies.md
  doc/changelog.d/147.dependencies.md
Labels: none

chore: adding changelog file 148.dependencies.md
  doc/changelog.d/148.dependencies.md
Labels: none

Create DIN45981 class and test class (some methods still missing)
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
Labels: documentation

TESTING: Fix use python cache
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 111.maintenance.md
  doc/changelog.d/111.maintenance.md
Labels: none

ci: remove all jobs except for doc-build
  .github/workflows/ci_cd.yml
Labels: maintenance

CI: Test python cache
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 149.maintenance.md
  doc/changelog.d/149.maintenance.md
Labels: none

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

feat: new indicator SpectralCentroid, with its associated tests
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  tests/conftest.py
  tests/data/flute_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_spectral_centroid.py
Labels: testing

chore: adding changelog file 150.added.md [dependabot-skip]
  doc/changelog.d/150.added.md
Labels: none

feat: call get_output in get_spectral_centroid to use the same warning
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
Labels: none

chore: adding changelog file 151.dependencies.md [dependabot-skip]
  doc/changelog.d/151.dependencies.md
Labels: none

feat: SpectralCentroid: minor modifications (doc, rounding, slight tests improvements) following PR review
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  tests/tests_psychoacoustics/test_psychoacoustics_spectral_centroid.py
Labels: none

chore: adding changelog file 152.dependencies.md [dependabot-skip]
  doc/changelog.d/152.dependencies.md
Labels: none

feat: SpectralCentroid: return empty array in get_output_as_np_array when computation is not done
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  tests/tests_psychoacoustics/test_psychoacoustics_spectral_centroid.py
Labels: none

feat: new indicator SpectralCentroid, with its associated tests (#150)
  doc/changelog.d/150.added.md
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  tests/conftest.py
  tests/data/flute_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_spectral_centroid.py
Labels: testing

chore: adding changelog file 145.miscellaneous.md [dependabot-skip]
  doc/changelog.d/145.miscellaneous.md
Labels: none

WIP
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 154.dependencies.md [dependabot-skip]
  doc/changelog.d/154.dependencies.md
Labels: none

chore: adding changelog file 155.dependencies.md [dependabot-skip]
  doc/changelog.d/155.dependencies.md
Labels: none

chore: adding changelog file 157.miscellaneous.md [dependabot-skip]
  doc/changelog.d/157.miscellaneous.md
Labels: none

Prepare details functions + removed an obselete line for SWL
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
Labels: none

chore: adding changelog file 156.dependencies.md [dependabot-skip]
  doc/changelog.d/156.dependencies.md
Labels: none

chore: adding changelog file 157.miscellaneous.md [dependabot-skip]
  doc/changelog.d/157.miscellaneous.md
Labels: none

remove import genericDataContainerCollection
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

Fixed collection type name
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

Package + Parent classes + SourceControlSpectrum as a dataclass
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/_sound_composer_parent.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
Labels: none

test class
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
Labels: none

fix pre-commit
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
Labels: none

private attributes instead of protected
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
Labels: none

chore: adding changelog file 158.added.md [dependabot-skip]
  doc/changelog.d/158.added.md
Labels: none

chore: adding changelog file 158.added.md [dependabot-skip]
  doc/changelog.d/158.added.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
