Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Slightly modified filter source test
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

typo in variable name
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

feat: save sound composer project (#248)
  doc/changelog.d/248.added.md
  pyproject.toml
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_signal_processing/test_signal_processing_filter.py
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: maintenance

ci: Changing CI call to docker container only for tests (#249)
  .github/workflows/ci_cd.yml
  doc/changelog.d/249.maintenance.md
Labels: maintenance

Spectrum synthesis method as a string
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

chore: adding changelog file 251.added.md [dependabot-skip]
  doc/changelog.d/251.added.md
Labels: none

fix error messages + added Field as an accepted input type
  src/ansys/sound/core/signal_utilities/write_wav.py
  tests/tests_signal_utilities/test_signal_utilities_write_wav.py
Labels: none

chore: adding changelog file 252.fixed.md [dependabot-skip]
  doc/changelog.d/252.fixed.md
Labels: none

doc typo and added precision
  src/ansys/sound/core/signal_utilities/write_wav.py
Labels: none

minor doc fixes
  src/ansys/sound/core/signal_utilities/write_wav.py
Labels: none

doc improvement
  src/ansys/sound/core/signal_utilities/write_wav.py
Labels: none

doc improvement bis
  src/ansys/sound/core/signal_utilities/write_wav.py
Labels: none

Example 8 - calculate RMS, dBSPL and dBA levels
  examples/008_calculate_levels.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
Labels: documentation

added hybrid spectrum source
  tests/data/20250130_SoundComposerProjectForDpfSoundTesting_valid.scn
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
Labels: none

chore: adding changelog file 253.dependencies.md [dependabot-skip]
  doc/changelog.d/253.dependencies.md
Labels: none

feat: Spectrum synthesis method passed as a string, instead of an integer previously (#251)
  doc/changelog.d/251.added.md
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/data/20250130_SoundComposerProjectForDpfSoundTesting_valid.scn
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: none

fix: inaccurate error messages in class WriteWav (#252)
  doc/changelog.d/252.fixed.md
  src/ansys/sound/core/signal_utilities/write_wav.py
  tests/tests_signal_utilities/test_signal_utilities_write_wav.py
Labels: none

chore: adding changelog file 254.added.md [dependabot-skip]
  doc/changelog.d/254.added.md
Labels: none

test: added unit tests for the new demo signals' download
  tests/test_example_helpers.py
Labels: testing

Improving comments
  examples/008_calculate_levels.py
Labels: documentation

Add examples' csv outputs to gitignore
  .gitignore
Labels: none

added one missing path in gitignore
  .gitignore
Labels: none

changes made
  examples/008_calculate_levels.py
Labels: documentation

changes made
  examples/Aircraft_Levels_vs_time_Results.csv
  examples/Fan_Levels_vs_time_Results.csv
  examples/Overall_Results.csv
Labels: documentation

removing unwanted files
  examples/Aircraft_Levels_vs_time_Results.csv
  examples/Fan_Levels_vs_time_Results.csv
  examples/Overall_Results.csv
Labels: documentation

changes made
  examples/008_calculate_levels.py
Labels: documentation

Keep only one call to plot method, otherwise they end up in the same figure in the doc + some minor improvements
  examples/008_calculate_levels.py
Labels: documentation

typo
  examples/008_calculate_levels.py
Labels: documentation

feat: enhancing example007 to add new psychoacoustic indicators (ludness ISo 532-2, sharpness vs time, sharpness DIN45692, Roughness vs time
  examples/007_calculate_psychoacoustic_indicators.py
  src/ansys/sound/core/psychoacoustics/roughness.py
Labels: documentation

style: fixing too long lines
  examples/007_calculate_psychoacoustic_indicators.py
Labels: documentation

style: another remaining line to fix
  examples/007_calculate_psychoacoustic_indicators.py
Labels: documentation

style: removed 1 space at the end of 1 line
  examples/007_calculate_psychoacoustic_indicators.py
Labels: documentation

Fixed capital letters in header row and arranged the line a bit
  examples/008_calculate_levels.py
Labels: documentation

Fixed some comments and displayed outputs
  examples/007_calculate_psychoacoustic_indicators.py
Labels: documentation

chore: adding changelog file 255.dependencies.md [dependabot-skip]
  doc/changelog.d/255.dependencies.md
Labels: none

feat: Example 8 - calculate RMS, dBSPL and dBA levels (#254)
  .gitignore
  doc/changelog.d/254.added.md
  examples/008_calculate_levels.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
  tests/test_example_helpers.py
Labels: documentation, testing

feat: Updating codeowners
  .github/CODEOWNERS
Labels: maintenance

docs: PyAnsys Sound documentation review (1199432)
  doc/source/api/helpers.rst
  doc/source/api/sound_composer.rst
  doc/source/getting_started.rst
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/sharpness_din_45692.py
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_ts_20065.py
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
Labels: documentation

feat: update of example007, to include newly available psychoacoustic metrics (#246)
  doc/changelog.d/246.added.md
  examples/007_calculate_psychoacoustic_indicators.py
  src/ansys/sound/core/psychoacoustics/roughness.py
Labels: documentation

chore: adding changelog file 256.documentation.md [dependabot-skip]
  doc/changelog.d/256.documentation.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
