Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

Added an exception test for coverage
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: none

Signals now stored as a list instead of a dict
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Adjusted test following dict -> list (+fixed 1 omission)
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: none

Final test adjustments with band center frequencies (+ a few name tweaks and an additional assert)
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: none

Added plot legends and distinct colors
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

log freq by default for plots
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: none

chore: adding changelog file 104.added.md
  doc/changelog.d/104.added.md
Labels: none

Renamed SWL project file
  tests/conftest.py
Labels: testing

Added 'ID_' for returned lists' element indexes
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Removed an obsolete comment
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Removed useless pragma tags + missing Returns section + fixed inconsistent loop syntax + fixed a few comments + removed unused variable
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

Levels now plotted as barplots
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: none

Hard-coded output tuple indexes
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
Labels: none

feat: Sound power level class and tests (#104)
  doc/changelog.d/104.added.md
  doc/source/api/index.rst
  doc/source/api/sound_power.rst
  src/ansys/sound/core/sound_power/__init__.py
  src/ansys/sound/core/sound_power/_sound_power_parent.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/conftest.py
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: documentation, testing

chore: adding changelog file 105.dependencies.md
  doc/changelog.d/105.dependencies.md
Labels: none

chore: adding changelog file 106.dependencies.md
  doc/changelog.d/106.dependencies.md
Labels: none

chore: adding changelog file 107.dependencies.md
  doc/changelog.d/107.dependencies.md
Labels: none

chore: adding changelog file 81.miscellaneous.md
  doc/changelog.d/81.miscellaneous.md
Labels: none

chore: adding changelog file 108.dependencies.md
  doc/changelog.d/108.dependencies.md
Labels: none

chore: adding changelog file 110.dependencies.md
  doc/changelog.d/110.dependencies.md
Labels: none

chore: adding changelog file 109.dependencies.md
  doc/changelog.d/109.dependencies.md
Labels: none

TESTING: Fix use python cache
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 111.maintenance.md
  doc/changelog.d/111.maintenance.md
Labels: none

ci: remove all jobs except for doc-build
  .github/workflows/ci_cd.yml
Labels: maintenance

docs: add user_agent to check ansys links
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 112.documentation.md
  doc/changelog.d/112.documentation.md
Labels: none

docs: use latest user agent for Edge
  doc/source/conf.py
Labels: documentation

docs: add user_agent to check Ansys links (#112)
  doc/changelog.d/112.documentation.md
  doc/source/conf.py
Labels: documentation

docs: linkcheck ignore ansys urls
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 113.documentation.md
  doc/changelog.d/113.documentation.md
Labels: none

fix: Updated tests values and test file for Sound Power Level with respect to 25R1 modifications
  tests/conftest.py
  tests/data/archive_geneSoundPowerLevelProject_hemisphere_2025R1_20243008.spw
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: testing

chore: adding changelog file 114.fixed.md
  doc/changelog.d/114.fixed.md
Labels: none

fix: Updated SWL tests with latest modifs from DLL (#114)
  doc/changelog.d/114.fixed.md
  tests/conftest.py
  tests/data/archive_geneSoundPowerLevelProject_hemisphere_2025R1_20243008.spw
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: testing

docs: linkcheck ignore ansys urls (#113)
  doc/changelog.d/113.documentation.md
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 116.dependencies.md
  doc/changelog.d/116.dependencies.md
Labels: none

chore: adding changelog file 115.dependencies.md
  doc/changelog.d/115.dependencies.md
Labels: none

chore: adding changelog file 118.dependencies.md
  doc/changelog.d/118.dependencies.md
Labels: none

chore: adding changelog file 117.dependencies.md
  doc/changelog.d/117.dependencies.md
Labels: none

testing: fix of doc-build action
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 119.maintenance.md
  doc/changelog.d/119.maintenance.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
