Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

fix: changed the test for files
  tests/test_example_helpers.py
Labels: testing

chore: adding changelog file 91.miscellaneous.md
  doc/changelog.d/91.miscellaneous.md
Labels: none

chore: adding changelog file 92.fixed.md
  doc/changelog.d/92.fixed.md
Labels: none

fix: fixing files downloading
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

fix: changed the test for files
  tests/test_example_helpers.py
Labels: testing

chore: adding changelog file 91.miscellaneous.md
  doc/changelog.d/91.miscellaneous.md
Labels: none

fix: added tests
  tests/test_example_helpers.py
Labels: testing

chore: adding changelog file 91.miscellaneous.md
  doc/changelog.d/91.miscellaneous.md
Labels: none

chore: adding changelog file 92.fixed.md
  doc/changelog.d/92.fixed.md
Labels: none

fix: Added better tests for example helpers
  tests/test_example_helpers.py
Labels: testing

fix: Undo previous commit, shouldn't be able to push to main
  tests/test_example_helpers.py
Labels: testing

fix: Added better tests for example helpers
  tests/test_example_helpers.py
Labels: testing

chore: adding changelog file 93.fixed.md
  doc/changelog.d/93.fixed.md
Labels: none

fix: Added better tests for example helpers (2)
  src/ansys/sound/core/examples_helpers/download.py
Labels: none

chore: adding changelog file 93.fixed.md
  doc/changelog.d/93.fixed.md
Labels: none

fix: Added better tests for example helpers (#93)
  doc/changelog.d/93.fixed.md
  src/ansys/sound/core/examples_helpers/download.py
  tests/test_example_helpers.py
Labels: testing

feat: updated project version
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.1.3
  CHANGELOG.md
  doc/changelog.d/67.added.md
  doc/changelog.d/79.changed.md
  doc/changelog.d/80.dependencies.md
  doc/changelog.d/93.fixed.md
Labels: none

chore: updating CHANGELOG for v0.1.3
  CHANGELOG.md
  doc/changelog.d/67.added.md
  doc/changelog.d/79.changed.md
  doc/changelog.d/80.dependencies.md
  doc/changelog.d/93.fixed.md
Labels: none

chore: adding changelog file 94.changed.md
  doc/changelog.d/94.changed.md
Labels: none

chore: update CHANGELOG for v0.1.3 (#94)
  CHANGELOG.md
  doc/changelog.d/67.added.md
  doc/changelog.d/79.changed.md
  doc/changelog.d/80.dependencies.md
  doc/changelog.d/93.fixed.md
  doc/changelog.d/94.changed.md
Labels: none

docs: update examples card images (#83)
  doc/changelog.d/82.added.md
  doc/changelog.d/83.miscellaneous.md
  doc/source/_static/_image/example001_thumbnail.png
  doc/source/_static/_image/example003_thumbnail.png
  doc/source/_static/_image/example004_thumbnail.png
  doc/source/_static/_image/example005_thumbnail.png
  examples/001_initialize_server_and_deal_with_license.py
  examples/003_compute_stft.py
  examples/004_isolate_orders.py
  examples/005_xtract_feature.py
Labels: documentation

doc: adding missing doc for PSD
  doc/source/api/index.rst
  doc/source/api/spectral_processing.rst
Labels: documentation

chore: adding changelog file 95.miscellaneous.md
  doc/changelog.d/95.miscellaneous.md
Labels: none

docs: adding missing doc for PSD
  doc/source/api/index.rst
  doc/source/api/spectral_processing.rst
Labels: documentation

doc: adding missing doc for PSD (#95)
  doc/changelog.d/95.miscellaneous.md
  doc/source/api/index.rst
  doc/source/api/spectral_processing.rst
Labels: documentation

chore: adding changelog file 96.maintenance.md
  doc/changelog.d/96.maintenance.md
  pyproject.toml
Labels: maintenance

chore: adding changelog file 97.dependencies.md
  doc/changelog.d/97.dependencies.md
Labels: none

chore: adding changelog file 98.dependencies.md
  doc/changelog.d/98.dependencies.md
Labels: none

chore: adding changelog file 100.dependencies.md
  doc/changelog.d/100.dependencies.md
Labels: none

chore: adding changelog file 99.dependencies.md
  doc/changelog.d/99.dependencies.md
Labels: none

chore: adding changelog file 101.dependencies.md
  doc/changelog.d/101.dependencies.md
Labels: none

chore: adding changelog file 102.dependencies.md
  doc/changelog.d/102.dependencies.md
Labels: none

Added blackman window type in PSD & STFT + removed hanning from STFT
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_stft.py
Labels: none

chore: adding changelog file 103.fixed.md
  doc/changelog.d/103.fixed.md
Labels: none

Adding doc for SWL
  doc/source/api/index.rst
  doc/source/api/sound_power.rst
Labels: documentation

Fixed doc typo
  doc/source/api/sound_power.rst
Labels: documentation

fix: Missing BLACKMAN window type in PSD and STFT classes (#103)
  doc/changelog.d/103.fixed.md
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_stft.py
Labels: none

Added exception for duplicate signal name in method add_signal + corresponding exception test
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: none

A few bug fixes and test adjustments following DPF operator availability
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/conftest.py
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: testing
