Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

WIP: Extend testing to other actions
  .github/workflows/ci_cd.yml
Labels: maintenance

wip: add os name to ci jobs
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 120.dependencies.md
  doc/changelog.d/120.dependencies.md
Labels: none

chore: adding changelog file 121.dependencies.md
  doc/changelog.d/121.dependencies.md
Labels: none

chore: adding changelog file 122.dependencies.md
  doc/changelog.d/122.dependencies.md
Labels: none

chore: adding changelog file 123.dependencies.md
  doc/changelog.d/123.dependencies.md
Labels: none

chore: adding changelog file 125.dependencies.md
  doc/changelog.d/125.dependencies.md
Labels: none

chore: adding changelog file 126.dependencies.md
  doc/changelog.d/126.dependencies.md
Labels: none

chore: adding changelog file 124.dependencies.md
  doc/changelog.d/124.dependencies.md
Labels: none

chore: adding changelog file 127.dependencies.md
  doc/changelog.d/127.dependencies.md
Labels: none

fix: making pre-commit happy
  .pre-commit-config.yaml
  CODE_OF_CONDUCT.md
Labels: none

chore: adding changelog file 81.miscellaneous.md
  doc/changelog.d/81.miscellaneous.md
Labels: none

fix: update call to compute_sound_power_level_iso3744 dpf operator following changes in pins. Added a test for a swl project containing signals with calibrations
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/conftest.py
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: testing

fix: beter comment for a newly added test
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: none

chore: adding changelog file 129.fixed.md
  doc/changelog.d/129.fixed.md
Labels: none

chore: adding changelog file 129.fixed.md
  doc/changelog.d/129.fixed.md
Labels: none

chore: adding changelog file 129.fixed.md
  doc/changelog.d/129.fixed.md
Labels: none

fix: rename test files for more homogeneity
  tests/conftest.py
  tests/data/SoundPowerLevelProject_hemisphere_2025R1_20243008.spw
Labels: testing

fix: update swl operator callback (#129)
  doc/changelog.d/129.fixed.md
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/conftest.py
  tests/data/SoundPowerLevelProject_hemisphere_2025R1_20243008.spw
  tests/data/archive_geneSoundPowerLevelProject_hemisphere_2025R1_20243008.spw
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
Labels: testing

chore: adding changelog file 130.miscellaneous.md
  doc/changelog.d/130.miscellaneous.md
Labels: none

chore: adding changelog file 130.miscellaneous.md
  doc/changelog.d/130.miscellaneous.md
Labels: none

chore: adding changelog file 133.dependencies.md
  doc/changelog.d/133.dependencies.md
Labels: none

chore: adding changelog file 134.dependencies.md
  doc/changelog.d/134.dependencies.md
Labels: none

fix: `setup-headless-display`
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 135.fixed.md
  doc/changelog.d/135.fixed.md
Labels: none

ci: ``pyvista/setup-headless-display`` started failing (#135)
  .github/workflows/ci_cd.yml
  doc/changelog.d/135.fixed.md
Labels: maintenance

chore: adding changelog file 137.miscellaneous.md
  doc/changelog.d/137.miscellaneous.md
Labels: none

chore: adding changelog file 137.miscellaneous.md
  doc/changelog.d/137.miscellaneous.md
Labels: none

maint: Updating AUTHORS and CONTRIBUTORS.md
  AUTHORS
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 138.maintenance.md
  doc/changelog.d/138.maintenance.md
Labels: none

maint: Updating AUTHORS and CONTRIBUTORS.md (#138)
  AUTHORS
  CONTRIBUTORS.md
  doc/changelog.d/138.maintenance.md
Labels: none

ci: added tokens
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
Labels: maintenance

chore: adding changelog file 136.maintenance.md [dependabot-skip]
  doc/changelog.d/136.maintenance.md
Labels: none

ci: updated ci
  .github/workflows/ci_cd.yml
Labels: maintenance

fix: adding licensing context to improve speed
  examples/002_load_resample_amplify_write_wav_files.py
  examples/004_isolate_orders.py
  examples/006_calculate_PR_and_TNR.py
  examples/007_calculate_psychoacoustic_indicators.py
Labels: documentation

chore: adding changelog file 136.documentation.md [dependabot-skip]
  doc/changelog.d/136.documentation.md
Labels: none

maint: fix tokens
  .github/workflows/ci_cd.yml
Labels: maintenance

maint: using ``static_search``
  doc/source/conf.py
Labels: documentation

DOCS: Remove health check ignore
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 139.documentation.md
  doc/changelog.d/139.documentation.md
Labels: none
