Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

Update src/ansys/sound/core/sound_composer/source_control_time.py
  src/ansys/sound/core/sound_composer/source_control_time.py
Labels: none

docs: updated doc for class SourceAudio
  src/ansys/sound/core/sound_composer/source_audio.py
Labels: none

docs: sort out doc and type hints for numpy arrays (#171)
  doc/changelog.d/171.documentation.md
  examples/002_load_resample_amplify_write_wav_files.py
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_transient.py
Labels: documentation

fix pre-commit
  src/ansys/sound/core/sound_composer/source_audio.py
Labels: none

Add description details
  src/ansys/sound/core/sound_composer/source_audio.py
Labels: none

feat: sound composer's source control time (#170)
  doc/changelog.d/170.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  tests/conftest.py
  tests/data/RPM_profile_2024R2_20241126.wav
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
Labels: documentation, testing

feat: sound composer's source audio (#169)
  doc/changelog.d/169.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/conftest.py
  tests/data/flute_nonUnitaryCalib_as_text_2024R2_20241125.txt
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: documentation, testing

source bbn helper class
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

added source spectrum name in plot + typos
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

Added to init & doc
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
Labels: documentation

fix pre-commit and added test data
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/conftest.py
  tests/data/AnsysSound_BBN dBSPLperHz NARROWBAND v2_2024R2_20241128.txt
  tests/data/AnsysSound_BBN dBSPLperHz NARROWBAND v2_40values_2024R2_20241128.txt
Labels: testing

Test class + a few fixes
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

Extract info for print in a separate method + fix test coverage
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

Clean up and comments
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

chore: adding changelog file 172.added.md [dependabot-skip]
  doc/changelog.d/172.added.md
Labels: none

doc fix
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: documentation

temporarily deactivate spectrum type test
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

Added TODO message
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

typo in exception message
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: none

chore: adding changelog file 174.dependencies.md [dependabot-skip]
  doc/changelog.d/174.dependencies.md
Labels: none

chore: adding changelog file 175.dependencies.md [dependabot-skip]
  doc/changelog.d/175.dependencies.md
Labels: none

chore: adding changelog file 177.maintenance.md [dependabot-skip]
  doc/changelog.d/177.maintenance.md
Labels: none

change where support unit is taken from because 'unit' field only works if unit is SI
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

Improve fc data extraction
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

fix: spacings on CONTRIBUTORS.md file
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 178.fixed.md [dependabot-skip]
  doc/changelog.d/178.fixed.md
Labels: none

Added verifications in tests (eg correct level from output)
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  tests/conftest.py
  tests/data/AnsysSound_BBN dBSPL OCTAVE Constants.txt
  tests/data/AnsysSound_BBN dBSPLperHz NARROWBAND v2_2024R2_20241128.txt
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
Labels: testing

some whitespaces in test data
  tests/data/AnsysSound_BBN dBSPL OCTAVE Constants.txt
Labels: none

chore: adding changelog file 179.miscellaneous.md [dependabot-skip]
  doc/changelog.d/179.miscellaneous.md
Labels: none

Helper and test class
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  tests/conftest.py
  tests/data/AnsysSound_BBN_MultipleParameters Pa2PerHz Narrowband v2_2024R2_20240418.txt
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: documentation, testing

chore: adding changelog file 180.added.md [dependabot-skip]
  doc/changelog.d/180.added.md
Labels: none

typo in comment
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: none

typo
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

typo
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
Labels: none

fix: spacings on CONTRIBUTORS.md file (#178)
  CONTRIBUTORS.md
  doc/changelog.d/178.fixed.md
Labels: none

chore: adding changelog file 176.dependencies.md [dependabot-skip]
  doc/changelog.d/176.dependencies.md
Labels: none

chore: adding changelog file 173.dependencies.md [dependabot-skip]
  doc/changelog.d/173.dependencies.md
Labels: none

chore: adding changelog file 179.miscellaneous.md [dependabot-skip]
  doc/changelog.d/179.miscellaneous.md
Labels: none

Doc change
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
Labels: none

chore: adding changelog file 179.miscellaneous.md [dependabot-skip]
  doc/changelog.d/179.miscellaneous.md
Labels: none
