Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

Revert "Move Parameters section from ctor to class definition so that it appears in doc"
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
Labels: none

docs: fix extra ``:`` in API doc and add ``favicon`` in ``conf.py``
  doc/source/conf.py
Labels: documentation

chore: adding changelog file 164.documentation.md [dependabot-skip]
  doc/changelog.d/164.documentation.md
Labels: none

Display __ini__ docstrings in documentation
  doc/source/conf.py
Labels: documentation

docs: fix a few typos in parameter section
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Replaced __init__ docsting's first line
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
Labels: none

Removed unnecessary __init__ in parent classes
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/signal_utilities/_signal_utilities_parent.py
  src/ansys/sound/core/sound_power/_sound_power_parent.py
  src/ansys/sound/core/spectral_processing/_spectral_processing_parent.py
  src/ansys/sound/core/spectrogram_processing/_spectrogram_processing_parent.py
  src/ansys/sound/core/xtract/_xtract_parent.py
Labels: none

Fixed window_type docstring
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

pre-commit stuff
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

fix: removing ``autoclass_content`` configuration
  doc/source/conf.py
Labels: documentation

typos
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

replicating fix of #153 for new modules here
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

docs: fix docstrings in ``Parameters`` sections
  src/ansys/sound/core/examples_helpers/_get_example_files.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
Labels: none

fix: reactivating ``gen_gallery`` in ``conf.py``
  doc/source/conf.py
Labels: documentation

added test of output using psd
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: none

docs: fix extra ``:`` in API doc and add ``favicon`` in ``conf.py`` (#164)
  doc/changelog.d/164.documentation.md
  doc/source/conf.py
  src/ansys/sound/core/examples_helpers/_get_example_files.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
Labels: documentation

whitespace
  src/ansys/sound/core/server_helpers/_validate_dpf_sound_connection.py
Labels: none

1 missing Returns section + update `:` whitespaces
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

Updated tests following DPFS bug fix
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/conftest.py
  tests/data/AnsysSound Spectrum v3 - nominal - Pa2PerHz_2024R2_20240418.txt
  tests/data/AnsysSound Spectrum v3 - nominal - dBSPLperHz_2024R2_20241121.txt
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: testing

Removed getters for psychoacoustics package
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
Labels: none

Added missing spectral centroid in doc
  doc/source/api/psychoacoustics.rst
Labels: documentation

remove getters for signal_utilites
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
Labels: none

typo
  src/ansys/sound/core/signal_utilities/apply_gain.py
Labels: none

Try renaming test file
  tests/conftest.py
  tests/data/AnsysSound_Spectrum_v3_-_nominal_-_dBSPLperHz_2024R2_20241121.txt
Labels: testing

Remove getters for spectrogram + removed hanning in IsolateOrders + incomplete test type for IsolateOders.orders + some missing type hints in setters
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_isolate_orders.py
Labels: none

fix: swl doc issue #153 (#163)
  doc/changelog.d/163.fixed.md
  doc/source/conf.py
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/server_helpers/_validate_dpf_sound_connection.py
  src/ansys/sound/core/signal_utilities/_signal_utilities_parent.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_power/_sound_power_parent.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/_spectral_processing_parent.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/_spectrogram_processing_parent.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/_xtract_parent.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
Labels: documentation

ci: deleting images from cicd
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: adding changelog file 165.maintenance.md [dependabot-skip]
  doc/changelog.d/165.maintenance.md
Labels: none

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

Update .github/workflows/ci_cd.yml
  .github/workflows/ci_cd.yml
Labels: maintenance

remove getters for xtract classes + removed unnecesary pragma + a few typos/errors
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
Labels: none

docs: documentation updates for the specrtum source of the Sound Composer
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
Labels: none

chore: adding changelog file 166.fixed.md [dependabot-skip]
  doc/changelog.d/166.fixed.md
Labels: none

typo
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

ci: deleting docker images from cicd (#165)
  .github/workflows/ci_cd.yml
  doc/changelog.d/165.maintenance.md
Labels: maintenance

Minor phrasing fix
  src/ansys/sound/core/signal_utilities/create_sound_field.py
Labels: none

docs: updated documentation strings for DIN45681 class
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

Minor docstring changes
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

fix pre-commit
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
Labels: none

docs: removed a duplicated doc line
  examples/006_calculate_PR_and_TNR.py
Labels: documentation
