Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

chore: adding changelog file 70.changed.md
  doc/changelog.d/70.changed.md
Labels: none

fix: tests
  pyproject.toml
  tests/test_metadata.py
Labels: maintenance, testing

chore: adding changelog file 71.fixed.md
  doc/changelog.d/71.fixed.md
Labels: none

fix: ``test_pkg_version`` test (#71)
  doc/changelog.d/71.fixed.md
  pyproject.toml
  tests/test_metadata.py
Labels: maintenance, testing

fix: version in ``pyproject.toml``
  pyproject.toml
Labels: maintenance

chore: adding changelog file 72.fixed.md
  doc/changelog.d/72.fixed.md
Labels: none

fix: version in ``pyproject.toml`` (#72)
  doc/changelog.d/72.fixed.md
  pyproject.toml
Labels: maintenance

chore: bump version to ``v0.1.0``
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.1.0
  CHANGELOG.md
  doc/changelog.d/37.added.md
  doc/changelog.d/39.added.md
  doc/changelog.d/40.dependencies.md
  doc/changelog.d/41.dependencies.md
  doc/changelog.d/42.dependencies.md
  doc/changelog.d/44.dependencies.md
  doc/changelog.d/45.changed.md
  doc/changelog.d/46.added.md
  doc/changelog.d/47.fixed.md
  doc/changelog.d/48.miscellaneous.md
  doc/changelog.d/49.miscellaneous.md
  doc/changelog.d/50.miscellaneous.md
  doc/changelog.d/52.fixed.md
  doc/changelog.d/53.miscellaneous.md
  doc/changelog.d/54.miscellaneous.md
  doc/changelog.d/55.dependencies.md
  doc/changelog.d/56.dependencies.md
  doc/changelog.d/57.dependencies.md
  doc/changelog.d/58.dependencies.md
  doc/changelog.d/59.dependencies.md
  doc/changelog.d/60.dependencies.md
  doc/changelog.d/61.dependencies.md
  doc/changelog.d/62.dependencies.md
  doc/changelog.d/63.dependencies.md
  doc/changelog.d/68.fixed.md
  doc/changelog.d/69.fixed.md
  doc/changelog.d/71.fixed.md
  doc/changelog.d/72.fixed.md
Labels: none

chore: adding changelog file 73.changed.md
  doc/changelog.d/73.changed.md
Labels: none

fix: OS classifier should be OS agnostic
  pyproject.toml
Labels: maintenance

fix: OS classifier should be OS agnostic (#74)
  pyproject.toml
Labels: maintenance

chore: bump version to ``0.1.0``
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.1.0
  CHANGELOG.md
  doc/changelog.d/37.added.md
  doc/changelog.d/39.added.md
  doc/changelog.d/40.dependencies.md
  doc/changelog.d/41.dependencies.md
  doc/changelog.d/42.dependencies.md
  doc/changelog.d/44.dependencies.md
  doc/changelog.d/45.changed.md
  doc/changelog.d/46.added.md
  doc/changelog.d/47.fixed.md
  doc/changelog.d/48.miscellaneous.md
  doc/changelog.d/49.miscellaneous.md
  doc/changelog.d/50.miscellaneous.md
  doc/changelog.d/52.fixed.md
  doc/changelog.d/53.miscellaneous.md
  doc/changelog.d/54.miscellaneous.md
  doc/changelog.d/55.dependencies.md
  doc/changelog.d/56.dependencies.md
  doc/changelog.d/57.dependencies.md
  doc/changelog.d/58.dependencies.md
  doc/changelog.d/59.dependencies.md
  doc/changelog.d/60.dependencies.md
  doc/changelog.d/61.dependencies.md
  doc/changelog.d/62.dependencies.md
  doc/changelog.d/63.dependencies.md
  doc/changelog.d/68.fixed.md
  doc/changelog.d/69.fixed.md
  doc/changelog.d/71.fixed.md
  doc/changelog.d/72.fixed.md
Labels: none

chore: updating CHANGELOG for v0.1.0
  CHANGELOG.md
  doc/changelog.d/37.added.md
  doc/changelog.d/39.added.md
  doc/changelog.d/40.dependencies.md
  doc/changelog.d/41.dependencies.md
  doc/changelog.d/42.dependencies.md
  doc/changelog.d/44.dependencies.md
  doc/changelog.d/45.changed.md
  doc/changelog.d/46.added.md
  doc/changelog.d/47.fixed.md
  doc/changelog.d/48.miscellaneous.md
  doc/changelog.d/49.miscellaneous.md
  doc/changelog.d/50.miscellaneous.md
  doc/changelog.d/52.fixed.md
  doc/changelog.d/53.miscellaneous.md
  doc/changelog.d/54.miscellaneous.md
  doc/changelog.d/55.dependencies.md
  doc/changelog.d/56.dependencies.md
  doc/changelog.d/57.dependencies.md
  doc/changelog.d/58.dependencies.md
  doc/changelog.d/59.dependencies.md
  doc/changelog.d/60.dependencies.md
  doc/changelog.d/61.dependencies.md
  doc/changelog.d/62.dependencies.md
  doc/changelog.d/63.dependencies.md
  doc/changelog.d/68.fixed.md
  doc/changelog.d/69.fixed.md
  doc/changelog.d/71.fixed.md
  doc/changelog.d/72.fixed.md
Labels: none

chore: adding changelog file 75.changed.md
  doc/changelog.d/75.changed.md
Labels: none

chore: update CHANGELOG for v0.1.0 (#75)
  CHANGELOG.md
  doc/changelog.d/37.added.md
  doc/changelog.d/39.added.md
  doc/changelog.d/40.dependencies.md
  doc/changelog.d/41.dependencies.md
  doc/changelog.d/42.dependencies.md
  doc/changelog.d/44.dependencies.md
  doc/changelog.d/45.changed.md
  doc/changelog.d/46.added.md
  doc/changelog.d/47.fixed.md
  doc/changelog.d/48.miscellaneous.md
  doc/changelog.d/49.miscellaneous.md
  doc/changelog.d/50.miscellaneous.md
  doc/changelog.d/52.fixed.md
  doc/changelog.d/53.miscellaneous.md
  doc/changelog.d/54.miscellaneous.md
  doc/changelog.d/55.dependencies.md
  doc/changelog.d/56.dependencies.md
  doc/changelog.d/57.dependencies.md
  doc/changelog.d/58.dependencies.md
  doc/changelog.d/59.dependencies.md
  doc/changelog.d/60.dependencies.md
  doc/changelog.d/61.dependencies.md
  doc/changelog.d/62.dependencies.md
  doc/changelog.d/63.dependencies.md
  doc/changelog.d/68.fixed.md
  doc/changelog.d/69.fixed.md
  doc/changelog.d/71.fixed.md
  doc/changelog.d/72.fixed.md
  doc/changelog.d/75.changed.md
Labels: none

Update src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Update src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Update src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Update src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Update src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Update src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Update examples/006_calculate_PR_and_TNR.py
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

Update examples/006_calculate_PR_and_TNR.py
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

Update examples/006_calculate_PR_and_TNR.py
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

Update examples/006_calculate_PR_and_TNR.py
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

Update src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Update src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

Update src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

get_PSD_dB() and test_get_PSD_dB_as_nparray() are changed in order to use a reference value 2.10^-5 rather than 1.
  tests/tests_power_spectral_density/test_power_spectral_density.py
Labels: none

fix: CICD
  .github/workflows/ci_cd.yml
Labels: maintenance

ci: fix ``doc-deploy-stable`` (#76)
  .github/workflows/ci_cd.yml
Labels: maintenance

chore: bump version to ``0.1.1``
  pyproject.toml
Labels: maintenance

chore: updating CHANGELOG for v0.1.1
  CHANGELOG.md
  doc/changelog.d/75.changed.md
Labels: none

chore: updating CHANGELOG for v0.1.1
  CHANGELOG.md
  doc/changelog.d/75.changed.md
Labels: none

chore: adding changelog file 77.changed.md
  doc/changelog.d/77.changed.md
Labels: none

Fix flakes errors and so on.
  examples/006_calculate_PR_and_TNR.py
Labels: documentation

Fix flakes errors and so on. (2)
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
Labels: none

build: using `flit_core` as buil-system
  pyproject.toml
Labels: maintenance

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'
