Repository ansys/pyansys-sound, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, maintenance, testing

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: 'doc/source/**/*'
  - any-glob-to-any-file: 'examples/**/*'
maintenance:
- changed-files:
  - any-glob-to-any-file: '.github/**/*'
  - any-glob-to-any-file: '.flake8'
  - any-glob-to-any-file: 'pyproject.toml'
testing:
- changed-files:
  - any-glob-to-any-file:  'tests/*'

feat: Added tonality iso1996_2
  src/ansys/sound/core/psychoacoustics/tonality_iso1996_2.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso1996_2.py
Labels: none

Fixed details following operator update + fixed expected test values
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
  tests/conftest.py
  tests/data/Aircraft-App2_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso_1996_2_over_time.py
Labels: testing

chore: adding changelog file 210.added.md [dependabot-skip]
  doc/changelog.d/210.added.md
Labels: none

added dict keys in doc
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
Labels: none

feat: Aures tonality (#205)
  doc/changelog.d/205.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
  tests/conftest.py
  tests/data/Aircraft-App2_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_aures.py
Labels: documentation, testing

Changed operator ID variable name
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
Labels: none

Some additional info in docstrings and renamed an attribute
  src/ansys/sound/core/psychoacoustics/tonality_iso1996_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso1996_2.py
Labels: none

Renamed module name and finished completing docstrings
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso_1996_2.py
Labels: none

Fix two comments
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
Labels: none

chore: adding changelog file 209.added.md [dependabot-skip]
  doc/changelog.d/209.added.md
Labels: none

minor docstring fix
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
Labels: none

chore: adding changelog file 211.dependencies.md [dependabot-skip]
  doc/changelog.d/211.dependencies.md
Labels: none

chore: adding changelog file 212.dependencies.md [dependabot-skip]
  doc/changelog.d/212.dependencies.md
Labels: none

feat: Fixes after PR Review
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso_1996_2.py
Labels: none

feat: modifications after PR review
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_ecma_418_2.py
Labels: none

A few additional docstrings modifications
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
Labels: none

feat: tonality iso1996 2 (#209)
  doc/changelog.d/209.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso_1996_2.py
Labels: documentation

typo + updated ppt types + some dosctrings change
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
Labels: none

Changed default coefficient values to None + added details in class docstring
  src/ansys/sound/core/signal_processing/filter.py
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: none

feat: Tonality ISO1996-2 C over time (#210)
  doc/changelog.d/210.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_iso_1996_2_over_time.py
Labels: documentation

chore: adding changelog file 214.miscellaneous.md [dependabot-skip]
  doc/changelog.d/214.miscellaneous.md
Labels: none

Removed cast to list
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

chore: adding changelog file 206.miscellaneous.md [dependabot-skip]
  doc/changelog.d/206.miscellaneous.md
Labels: none

Added doc link
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

feat: Tonality ECMA418-2 (#208)
  doc/changelog.d/208.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_ecma_418_2.py
Labels: documentation

Add roughness over time and various improvements
  src/ansys/sound/core/psychoacoustics/roughness.py
Labels: none

Updated test class
  tests/tests_psychoacoustics/test_psychoacoustics_roughness.py
Labels: none

Adjust example following removal of fields container compatibility
  examples/007_calculate_psychoacoustic_indicators.py
Labels: documentation

Cast to list in case coefficients are passed as numpy arrays
  src/ansys/sound/core/signal_processing/filter.py
Labels: none

Adjust expected values and added missing test method for str
  tests/tests_psychoacoustics/test_psychoacoustics_roughness.py
Labels: none

chore: adding changelog file 215.added.md [dependabot-skip]
  doc/changelog.d/215.added.md
Labels: none

check ppt instead of private attribute
  src/ansys/sound/core/psychoacoustics/roughness.py
Labels: none

sharpness class update
  examples/007_calculate_psychoacoustic_indicators.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness.py
Labels: documentation

chore: adding changelog file 216.added.md [dependabot-skip]
  doc/changelog.d/216.added.md
Labels: none

add default signal value (None) in doc
  src/ansys/sound/core/psychoacoustics/roughness.py
Labels: none

Return nan if not processed yet
  src/ansys/sound/core/psychoacoustics/sharpness.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness.py
Labels: none

case-insensitive field type
  src/ansys/sound/core/psychoacoustics/sharpness.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness.py
Labels: none

Created SharpnessOverTime class
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/sharpness_over_time.py
Labels: documentation

add signal type check
  src/ansys/sound/core/psychoacoustics/sharpness_over_time.py
Labels: none

chore: adding changelog file 216.added.md [dependabot-skip]
  doc/changelog.d/216.added.md
Labels: none
