Repository ansys/pyansys-sound, pull requests merged in 2024-08, with the labels that each got.

#93 fix: fixed a malfunction of the functions to download sample files used in examples
  doc/changelog.d/93.fixed.md
  src/ansys/sound/core/examples_helpers/download.py
  tests/test_example_helpers.py
Labels: bug, testing

#95 doc: adding missing doc for PSD
  doc/changelog.d/95.miscellaneous.md
  doc/source/api/index.rst
  doc/source/api/spectral_processing.rst
Labels: documentation

#103 fix: Missing BLACKMAN window type in PSD and STFT classes
  doc/changelog.d/103.fixed.md
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_stft.py
Labels: bug
