Repository ansys/pyansys-sound, pull requests merged in 2024-12, with the labels that each got.

#178 fix: spacings on CONTRIBUTORS.md file
  CONTRIBUTORS.md
  doc/changelog.d/178.fixed.md
Labels: bug

#185 chore: supporting Python 3.13 and dropping support for Python 3.9
  .github/workflows/ci_cd.yml
  doc/changelog.d/185.maintenance.md
  pyproject.toml
Labels: maintenance

#172 feat: source broadband noise for sound composer
  doc/changelog.d/172.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/conftest.py
  tests/data/AnsysSound_BBN dBSPL OCTAVE Constants.txt
  tests/data/AnsysSound_BBN dBSPLperHz NARROWBAND v2_40values_2024R2_20241128.txt
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: documentation, enhancement

#180 feat: source broadband noise 2 parameters for sound composer
  doc/changelog.d/180.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/__init__.py
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  tests/conftest.py
  tests/data/AnsysSound_BBN_MultipleParameters Pa2PerHz Narrowband v2_2024R2_20240418.txt
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
Labels: documentation, enhancement

#187 test: Improving `conftest.py` so that local configuration is handled
  doc/changelog.d/187.added.md
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/_get_example_files.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  tests/conftest.py
  tests/test_example_helpers.py
  tests/tests_psychoacoustics/test_psychoacoustics_fluctuation_strength.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_stationary.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_parent.py
  tests/tests_psychoacoustics/test_psychoacoustics_prominence_ratio.py
  tests/tests_psychoacoustics/test_psychoacoustics_roughness.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness.py
  tests/tests_psychoacoustics/test_psychoacoustics_spectral_centroid.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
  tests/tests_psychoacoustics/test_psychoacoustics_tone_to_noise_ratio.py
  tests/tests_signal_utilities/test_signal_utilities_apply_gain.py
  tests/tests_signal_utilities/test_signal_utilities_create_sound_field.py
  tests/tests_signal_utilities/test_signal_utilities_crop_signal.py
  tests/tests_signal_utilities/test_signal_utilities_load_wav.py
  tests/tests_signal_utilities/test_signal_utilities_resample.py
  tests/tests_signal_utilities/test_signal_utilities_sum_signals.py
  tests/tests_signal_utilities/test_signal_utilities_write_wav.py
  tests/tests_signal_utilities/test_signal_utilities_zero_pad.py
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
  tests/tests_sound_power/test_sound_power_level_iso_3744.py
  tests/tests_spectral_processing/test_power_spectral_density.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_isolate_orders.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_istft.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_stft.py
  tests/tests_xtract/test_xtract.py
  tests/tests_xtract/test_xtract_denoiser.py
  tests/tests_xtract/test_xtract_denoiser_parameters.py
  tests/tests_xtract/test_xtract_tonal.py
  tests/tests_xtract/test_xtract_tonal_parameters.py
  tests/tests_xtract/test_xtract_transient.py
  tests/tests_xtract/test_xtract_transient_parameters.py
Labels: enhancement, testing

#184 feat: source harmonics for sound composer
  doc/changelog.d/184.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  tests/conftest.py
  tests/data/AnsysSound_Orders Pa v1_2024R2_20241203.txt
  tests/data/AnsysSound_Orders V2_2024R2_20241203.txt
  tests/data/AnsysSound_Orders dBSPL v1_10_rpm_values_40_orders_2024R2_20241203.txt
  tests/data/AnsysSound_Orders dBSPL v1_2024R2_20241203.txt
  tests/data/VRX_Waterfall_2024R2_20241203.xml
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
Labels: documentation, enhancement

#186 feat: source harmonics 2 parameters for sound composer
  doc/changelog.d/186.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  tests/conftest.py
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL - InvertedContols_2024R2_20241205.txt
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL_2024R2_20241205.txt
  tests/data/AnsysSound_Orders_MultipleParameters dBSPL_many_values_2024R2_20241205.txt
  tests/data/AnsysSound_Orders_MultipleParameters_FromAccelWithTacho_2024R2_20241205.txt
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
Labels: documentation, enhancement, testing

#191 feat: Sound Composer track
  doc/changelog.d/191.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/track.py
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: documentation, enhancement
