Repository ansys/pyansys-sound, pull requests merged in 2024-11, with the labels that each got.

#150 feat: new indicator SpectralCentroid, with its associated tests
  doc/changelog.d/150.added.md
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  tests/conftest.py
  tests/data/flute_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_spectral_centroid.py
Labels: enhancement, testing

#158 feat: spectrum source control for sound composer
  doc/changelog.d/158.added.md
  doc/source/api/index.rst
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/_sound_composer_parent.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
Labels: documentation, enhancement

#164 docs: fix extra ``:`` in API doc and add ``favicon`` in ``conf.py``
  doc/changelog.d/164.documentation.md
  doc/source/conf.py
  src/ansys/sound/core/examples_helpers/_get_example_files.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
Labels: documentation

#163 fix: swl doc issue #153
  doc/changelog.d/163.fixed.md
  doc/source/conf.py
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/server_helpers/_validate_dpf_sound_connection.py
  src/ansys/sound/core/signal_utilities/_signal_utilities_parent.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_power/_sound_power_parent.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/_spectral_processing_parent.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/_spectrogram_processing_parent.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/_xtract_parent.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
Labels: bug, documentation

#165 ci: deleting docker images from cicd
  .github/workflows/ci_cd.yml
  doc/changelog.d/165.maintenance.md
Labels: maintenance

#166 fix: remove unnecessary explicit getters
  doc/changelog.d/166.fixed.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/write_wav.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_denoiser_parameters.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
  src/ansys/sound/core/xtract/xtract_transient.py
  src/ansys/sound/core/xtract/xtract_transient_parameters.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_isolate_orders.py
Labels: bug, documentation

#161 feat: tonality DIN45681
  doc/changelog.d/161.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
Labels: documentation, enhancement

#171 docs: sort out doc and type hints for numpy arrays
  doc/changelog.d/171.documentation.md
  examples/002_load_resample_amplify_write_wav_files.py
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/signal_utilities/apply_gain.py
  src/ansys/sound/core/signal_utilities/create_sound_field.py
  src/ansys/sound/core/signal_utilities/crop_signal.py
  src/ansys/sound/core/signal_utilities/load_wav.py
  src/ansys/sound/core/signal_utilities/resample.py
  src/ansys/sound/core/signal_utilities/sum_signals.py
  src/ansys/sound/core/signal_utilities/zero_pad.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract.py
  src/ansys/sound/core/xtract/xtract_denoiser.py
  src/ansys/sound/core/xtract/xtract_tonal.py
  src/ansys/sound/core/xtract/xtract_transient.py
Labels: documentation

#169 feat: sound composer's source audio
  doc/changelog.d/169.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/conftest.py
  tests/data/flute_nonUnitaryCalib_as_text_2024R2_20241125.txt
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
Labels: documentation, enhancement, testing
