Repository ansys/pyansys-sound, pull requests merged in 2024-07, with the labels that each got.

#37 chore: adding check-vulnerabilities-action
  .github/workflows/ci_cd.yml
  doc/changelog.d/37.added.md
  src/ansys/sound/core/examples_helpers/download.py
Labels: enhancement, maintenance

#68 chore: pre-release tasks
  .github/workflows/ci_cd.yml
  README.rst
  doc/changelog.d/68.fixed.md
Labels: bug, maintenance

#69 fix: dependencies
  CONTRIBUTING.md
  README.rst
  doc/changelog.d/69.fixed.md
  pyproject.toml
Labels: bug, maintenance

#71 fix: ``test_pkg_version`` test
  doc/changelog.d/71.fixed.md
  pyproject.toml
  tests/test_metadata.py
Labels: bug, maintenance, testing

#72 fix: version in ``pyproject.toml``
  doc/changelog.d/72.fixed.md
  pyproject.toml
Labels: bug, maintenance

#67 feat: Add a new helper for the power spectral density operator (psd) in PyAnsys Sound
  doc/changelog.d/67.added.md
  examples/006_calculate_PR_and_TNR.py
  src/ansys/sound/core/spectral_processing/__init__.py
  src/ansys/sound/core/spectral_processing/_spectral_processing_parent.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/tests_spectral_processing/test_power_spectral_density.py
Labels: documentation, enhancement
