Repository ansys/pyansys-sound, pull requests merged in 2025-04, with the labels that each got.

#256 docs: Documentation review for all of PyAnsys Sound
  doc/changelog.d/256.documentation.md
  doc/source/api/helpers.rst
  doc/source/api/sound_composer.rst
  doc/source/getting_started.rst
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/sharpness_din_45692.py
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_ts_20065.py
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/xtract/xtract_tonal_parameters.py
Labels: documentation

#258 feat: example of use of PR and TNR for orders
  doc/changelog.d/258.added.md
  examples/006_calculate_PR_and_TNR.py
  tests/tests_signal_processing/test_signal_processing_filter.py
Labels: documentation, enhancement

#257 feat: Updating the supported analysis window types available for PSD/Spectrograms/Levels features
  .github/CODEOWNERS
  doc/changelog.d/257.added.md
  examples/003_compute_stft.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/tests_spectral_processing/test_power_spectral_density.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_isolate_orders.py
  tests/tests_spectrogram_processing/test_spectrogram_processing_stft.py
Labels: documentation, enhancement, maintenance

#265 feat: enhancing labeler
  .github/labeler.yml
  .github/labels.yml
  doc/changelog.d/265.added.md
Labels: enhancement, maintenance, ci/cd

#259 feat: new example that calculates several tonality indicators
  doc/changelog.d/259.added.md
  examples/009_calculate_tonality_indicators.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
  tests/test_example_helpers.py
Labels: enhancement, testing, examples
