Repository ansys/pyansys-sound, pull requests merged in 2025-03, with the labels that each got.

#243 docs: documentation review of the recent Sound Composer and Psychoacoustic new features
  doc/changelog.d/243.documentation.md
  doc/source/api/helpers.rst
  doc/source/api/psychoacoustics.rst
  doc/source/api/signal_processing.rst
  doc/source/api/signal_utilities.rst
  doc/source/api/sound_composer.rst
  doc/source/api/sound_power.rst
  doc/source/api/spectral_processing.rst
  doc/source/api/spectrogram_processing.rst
  doc/source/api/standard_levels.rst
  doc/source/api/xtract.rst
  doc/source/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  src/ansys/sound/core/_pyansys_sound.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_ansi_s3_4.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio.py
  src/ansys/sound/core/psychoacoustics/prominence_ratio_for_orders_over_time.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/sharpness.py
  src/ansys/sound/core/psychoacoustics/sharpness_din_45692.py
  src/ansys/sound/core/psychoacoustics/sharpness_din_45692_over_time.py
  src/ansys/sound/core/psychoacoustics/sharpness_over_time.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  src/ansys/sound/core/psychoacoustics/tonality_aures.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_1996_2_over_time.py
  src/ansys/sound/core/psychoacoustics/tonality_iso_ts_20065.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio.py
  src/ansys/sound/core/psychoacoustics/tone_to_noise_ratio_for_orders_over_time.py
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_composer/track.py
  src/ansys/sound/core/sound_power/sound_power_level_iso_3744.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  src/ansys/sound/core/spectrogram_processing/isolate_orders.py
  src/ansys/sound/core/spectrogram_processing/istft.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  src/ansys/sound/core/standard_levels/level_over_time.py
  src/ansys/sound/core/standard_levels/overall_level.py
  src/ansys/sound/core/xtract/xtract.py
Labels: documentation

#244 feat: Loudness ISO 532-2
  doc/changelog.d/244.added.md
  doc/source/api/psychoacoustics.rst
  src/ansys/sound/core/psychoacoustics/__init__.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
  tests/conftest.py
  tests/data/Acceleration_stereo_nonUnitaryCalib.wav
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_2.py
Labels: documentation, enhancement

#249 ci: Changing CI call to docker container only for tests
  .github/workflows/ci_cd.yml
  doc/changelog.d/249.maintenance.md
Labels: maintenance, ci/cd

#251 feat: Spectrum synthesis method passed as a string, instead of an integer previously
  doc/changelog.d/251.added.md
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  tests/data/20250130_SoundComposerProjectForDpfSoundTesting_valid.scn
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: enhancement

#252 fix: inaccurate error messages in class WriteWav
  doc/changelog.d/252.fixed.md
  src/ansys/sound/core/signal_utilities/write_wav.py
  tests/tests_signal_utilities/test_signal_utilities_write_wav.py
Labels: bug

#246 feat: update of example007, to include newly available psychoacoustic metrics
  doc/changelog.d/246.added.md
  examples/007_calculate_psychoacoustic_indicators.py
  src/ansys/sound/core/psychoacoustics/roughness.py
Labels: documentation, enhancement
