Repository ansys/pyansys-sound, pull requests merged in 2025-02, with the labels that each got.

#224 fix: apply the same PSD parameters for TNR/PR calculation as in SAS
  doc/changelog.d/224.fixed.md
  examples/006_calculate_PR_and_TNR.py
Labels: bug, documentation

#223 fix: add field type in loudness ISO532-1 (stationary/time-varying)
  doc/changelog.d/223.fixed.md
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_stationary.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness_din_45692.py
Labels: bug

#226 feat: remove compatibility with fields containers in psychoacoustics package
  doc/changelog.d/226.added.md
  examples/007_calculate_psychoacoustic_indicators.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
  src/ansys/sound/core/psychoacoustics/_psychoacoustics_parent.py
  src/ansys/sound/core/psychoacoustics/fluctuation_strength.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/spectral_centroid.py
  tests/conftest.py
  tests/data/fluctuating_tone.wav
  tests/data/flute2.wav
  tests/test_example_helpers.py
  tests/tests_psychoacoustics/test_psychoacoustics_fluctuation_strength.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_stationary.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_parent.py
Labels: documentation, enhancement, testing

#200 feat: Sound Composer main helper class
  doc/changelog.d/200.added.md
  doc/source/api/sound_composer.rst
  src/ansys/sound/core/signal_processing/filter.py
  src/ansys/sound/core/sound_composer/__init__.py
  src/ansys/sound/core/sound_composer/_source_control_parent.py
  src/ansys/sound/core/sound_composer/_source_parent.py
  src/ansys/sound/core/sound_composer/sound_composer.py
  src/ansys/sound/core/sound_composer/source_audio.py
  src/ansys/sound/core/sound_composer/source_broadband_noise.py
  src/ansys/sound/core/sound_composer/source_broadband_noise_two_parameters.py
  src/ansys/sound/core/sound_composer/source_control_spectrum.py
  src/ansys/sound/core/sound_composer/source_control_time.py
  src/ansys/sound/core/sound_composer/source_harmonics.py
  src/ansys/sound/core/sound_composer/source_harmonics_two_parameters.py
  src/ansys/sound/core/sound_composer/source_spectrum.py
  src/ansys/sound/core/sound_composer/track.py
  tests/conftest.py
  tests/data/20250130_SoundComposerProjectForDpfSoundTesting_valid.scn
  tests/data/AnsysSound_BBN_MultipleParameters dBSPL Octave v2_2024R2_20240418.txt
  tests/tests_sound_composer/test_sound_composer__source_parent.py
  tests/tests_sound_composer/test_sound_composer_sound_composer.py
  tests/tests_sound_composer/test_sound_composer_source_audio.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise.py
  tests/tests_sound_composer/test_sound_composer_source_broadband_noise_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_control_spectrum.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics.py
  tests/tests_sound_composer/test_sound_composer_source_harmonics_two_parameters.py
  tests/tests_sound_composer/test_sound_composer_source_spectrum.py
  tests/tests_sound_composer/test_sound_composer_track.py
Labels: documentation, enhancement

#227 fix: avoid the usage of the "egg" concept
  doc/changelog.d/227.fixed.md
  pyproject.toml
Labels: bug, maintenance

#231 fix: Explicitly add requests package to project dependencies
  doc/changelog.d/231.fixed.md
  pyproject.toml
Labels: bug, maintenance

#232 fix: Wrong unit for specific loudness and specific roughness in documentation
  doc/changelog.d/232.fixed.md
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_stationary.py
  src/ansys/sound/core/psychoacoustics/roughness.py
  src/ansys/sound/core/psychoacoustics/tonality_din_45681.py
  src/ansys/sound/core/spectral_processing/power_spectral_density.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_din_45681.py
  tests/tests_spectral_processing/test_power_spectral_density.py
Labels: bug
