Repository ansys/pyansys-sound, pull requests merged in 2025-07, with the labels that each got.

#300 feat: New example to demonstrate the creation of a Sound Composer project and its use
  doc/changelog.d/300.added.md
  doc/source/_static/_image/example011_thumbnail.png
  doc/source/api/sound_composer.rst
  examples/004_isolate_orders.py
  examples/010_sound_composer_load_project.py
  examples/011_sound_composer_create_project.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
  src/ansys/sound/core/spectrogram_processing/stft.py
  tests/test_example_helpers.py
Labels: documentation, enhancement, testing, examples

#316 ci: run CI/CD tests on all past official releases, in addition to the latest package
  .github/workflows/ci_cd.yml
  doc/changelog.d/316.miscellaneous.md
  tests/tests_xtract/test_xtract.py
Labels: maintenance, ci/cd

#321 fix: removing cache in ``doc-build`` action
  .github/workflows/ci_cd.yml
  doc/changelog.d/321.maintenance.md
Labels: bug, maintenance, ci/cd

#320 ci: adding ``release to github`` in cicd
  .github/workflows/ci_cd.yml
  doc/changelog.d/320.miscellaneous.md
Labels: maintenance, ci/cd

#317 feat: update ECMA-418-2 tonality allowing 3rd edition and diffuse field
  doc/changelog.d/317.added.md
  doc/source/getting_started.rst
  examples/009_calculate_tonality_indicators.py
  pyproject.toml
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_1_time_varying.py
  src/ansys/sound/core/psychoacoustics/tonality_ecma_418_2.py
  tests/test_example_helpers.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_1_time_varying.py
  tests/tests_psychoacoustics/test_psychoacoustics_tonality_ecma_418_2.py
Labels: documentation, enhancement, dependencies, maintenance, testing, examples

#323 ci: update the ``check-vulnerabilities`` action
  .github/workflows/ci_cd.yml
  doc/changelog.d/323.miscellaneous.md
Labels: maintenance, ci/cd
