Repository ansys/pyansys-sound, pull requests merged in 2025-05, with the labels that each got.

#271 fix: update autodenoise test reference values following DPF Sound DLL update
  doc/changelog.d/271.fixed.md
  src/ansys/sound/core/psychoacoustics/loudness_iso_532_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_loudness_iso_532_2.py
  tests/tests_psychoacoustics/test_psychoacoustics_sharpness_din_45692.py
  tests/tests_sound_composer/test_sound_composer_source_control_time.py
  tests/tests_xtract/test_xtract_denoiser_parameters.py
Labels: bug

#281 ci: fix tcl/tk random errors by specifying headless matplotlib backend
  .github/workflows/ci_cd.yml
  .github/workflows/label.yml
  doc/changelog.d/281.maintenance.md
Labels: maintenance, ci/cd

#266 feat: new example, showing how to load and use a Sound Composer project
  doc/changelog.d/266.added.md
  doc/source/_static/_image/example009_thumbnail.png
  doc/source/_static/_image/example010_thumbnail.png
  examples/009_calculate_tonality_indicators.py
  examples/010_sound_composer_load_project.py
  src/ansys/sound/core/examples_helpers/__init__.py
  src/ansys/sound/core/examples_helpers/download.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  src/ansys/sound/core/sound_composer/track.py
  tests/test_example_helpers.py
Labels: documentation, enhancement, testing, examples
