Repository ansys/pyansys-sound, pull requests merged in 2025-06, with the labels that each got.

#287 feat: improve stft plot computation time
  doc/changelog.d/287.added.md
  examples/004_isolate_orders.py
  examples/005_xtract_feature.py
  src/ansys/sound/core/spectrogram_processing/stft.py
Labels: enhancement, examples

#290 fix: update tests following changes in DPF sound STFT
  doc/changelog.d/290.fixed.md
  tests/tests_spectrogram_processing/test_spectrogram_processing_stft.py
  tests/tests_xtract/test_xtract.py
  tests/tests_xtract/test_xtract_denoiser.py
  tests/tests_xtract/test_xtract_denoiser_parameters.py
Labels: bug

#289 feat: Use in-process server by default when using local server
  doc/changelog.d/289.test.md
  examples/001_initialize_server_and_deal_with_license.py
  src/ansys/sound/core/examples_helpers/download.py
  src/ansys/sound/core/server_helpers/_connect_to_or_start_server.py
  tests/conftest.py
Labels: enhancement, testing, examples

#296 feat: old docker image housekeeping
  .github/workflows/docker_cleanup.yml
  doc/changelog.d/296.maintenance.md
Labels: enhancement, maintenance, ci/cd
